<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>SmartBuy</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="../../assets/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/vendors/css/vendor.bundle.base.css"
    />

    <link rel="stylesheet" href="../../assets/css/style1.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div
            class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg"
          >
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Edit Coupon</h3>
                <form action="" method="post" onsubmit="return validateForm()">
                  <div class="form-group">
                    <input type="hidden" name="_id" value="<%=datas._id%>" />
                    <label>Coupon Code *</label>
                    <input
                      type="text"
                      class="form-control p_input"
                      value="<%=datas.coupon_code%>"
                      style="color: white"
                      name="code"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>Description *</label>
                    <input
                      type="text"
                      class="form-control p_input"
                      value="<%=datas.description%>"
                      style="color: white"
                      name="descr"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>Discount Amount *</label>
                    <input
                      type="number"
                      class="form-control p_input"
                      value="<%=datas.discount_price%>"
                      style="color: white"
                      name="disAmo"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>Minimum Purchase Amount *</label>
                    <input
                      type="number"
                      class="form-control p_input"
                      value="<%=datas.min_purchase_amount%>"
                      style="color: white"
                      name="minPur"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>Starting Date *</label>
                    <input
                      type="date"
                      class="form-control p_input"
                      value="<%=datas.start_date%>"
                      style="color: white"
                      name="strD"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>Ending Date *</label>
                    <input
                      type="date"
                      class="form-control p_input"
                      value="<%=datas.end_date%>"
                      style="color: white"
                      name="endD"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>Usage Limit Per User *</label>
                    <input
                      type="number"
                      class="form-control p_input"
                      value="<%=datas.usage_limit_perUser%>"
                      style="color: white"
                      name="userLim"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>Total Usage Limit *</label>
                    <input
                      type="number"
                      class="form-control p_input"
                      value="<%=datas.total_usageLimit%>"
                      style="color: white"
                      name="usageLim"
                      required
                    />
                  </div>
                  <div class="text-center">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block enter-btn"
                    >
                      Save
                    </button>
                  </div>
                  <p class="sign-up text-center">
                    Go Back To <a href="/admin/dashboard">DASHBOARD</a>
                  </p>
                </form>

                <!-- <% if (typeof message !== 'undefined') { %>
                    <div style="border: 1px solid #ccc; padding: 10px; background-color: #991c1c; text-align: center;">
                      <p style="margin: 0; color: #ffff;"><%= message %></p>
                    </div>
                  <% } %> -->
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="../../assets/js/settings.js"></script>
    <script src="../../assets/js/todolist.js"></script>
    <!-- endinject -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
      const alertSweet = function sweetalert() {
        const Toast = Swal.mixin({
          toast: true,
          position: "top",
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener("mouseenter", Swal.stopTimer);
            toast.addEventListener("mouseleave", Swal.resumeTimer);
          },
        });

        Toast.fire({
          icon: "success",
          title: "Success",
        });
      };
      function validateForm() {
        var descr = document.forms[0]["descr"].value;
        var disAmo = document.forms[0]["disAmo"].value;
        var minPur = document.forms[0]["minPur"].value;
        var userLim = document.forms[0]["userLim"].value;
        var usageLim = document.forms[0]["usageLim"].value;

        // Validate Description as letters
        if (!/^[a-zA-Z\s]+$/.test(descr)) {
          alert("Please enter only letters for Description.");
          return false;
        }

        // Validate Discount Amount, Minimum Purchase Amount, Usage Limit Per User, and Total Usage Limit as positive numbers
        if (
          isNaN(disAmo) ||
          disAmo < 0 ||
          isNaN(minPur) ||
          minPur < 0 ||
          isNaN(userLim) ||
          userLim < 0 ||
          isNaN(usageLim) ||
          usageLim < 0
        ) {
          alert(
            "Please enter valid positive numbers for Discount Amount, Minimum Purchase Amount, Usage Limit Per User, and Total Usage Limit."
          );
          return false;
        }
        alertSweet();
        return true;
      }
    </script>
  </body>
</html>
