<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>SmartBuy</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="../../assets/css/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/vendors/css/vendor.bundle.base.css"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link
      rel="stylesheet"
      href="../../assets/vendors/jvectormap/jquery-jvectormap.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/vendors/flag-icon-css/css/flag-icon.min.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/vendors/owl-carousel-2/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/vendors/owl-carousel-2/owl.theme.default.min.css"
    />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style1.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div
          class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top"
        >
          <a
            class="sidebar-brand brand-logo"
            href="/"
            style="color: white; font-weight: 400"
            >SmartBuy</a
          >
          <a class="sidebar-brand brand-logo-mini" href="index.html"
            ><h2 style="color: white">SB</h2></a
          >
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img
                    class="img-xs rounded-circle"
                    src="/userImages/<%=admin.image%>"
                    alt=""
                  />
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-medium"><%=admin.name%></h5>
                  <span style="color: white">Admin</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"
                ><i class="mdi mdi-dots-vertical"></i
              ></a>
              <div
                class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
                aria-labelledby="profile-dropdown"
              >
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">
                      Account settings
                    </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">
                      Change Password
                    </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar-today text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">
                      To-do list
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span style="color: white" class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/dashboard">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span style="color: white" class="menu-title">DASHBOARD</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/salesData">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
              <span style="color: white" class="menu-title">SALES REPORT</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a
              class="nav-link"
              data-toggle="collapse"
              href="/admin/usersData"
              aria-expanded="false"
              aria-controls="ui-basic"
            >
              <span class="menu-icon">
                <i class="mdi mdi-human"></i>
              </span>
              <span style="color: white" class="menu-title">USERS</span>
              <!-- <i class="menu-arrow"></i> -->
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/buttons.html"
                    >Buttons</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/dropdowns.html"
                    >Dropdowns</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/typography.html"
                    >Typography</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/productData">
              <span class="menu-icon">
                <i class="mdi mdi-checkbox-multiple-blank"></i>
              </span>
              <span style="color: white" class="menu-title">PRODUCTS</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/categoryData">
              <span class="menu-icon">
                <i class="mdi mdi-format-list-bulleted-type"></i>
              </span>
              <span style="color: white" class="menu-title">CATEGORY</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/ordersList">
              <span class="menu-icon">
                <i class="mdi mdi-checkbox-multiple-blank"></i>
              </span>
              <span style="color: white" class="menu-title">ORDERS</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div
            class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center"
          >
            <a class="navbar-brand brand-logo-mini" href="index.html"
              ><img src="../../assets/images/logo-mini.svg" alt="logo"
            /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button
              class="navbar-toggler navbar-toggler align-self-center"
              type="button"
              data-toggle="minimize"
            >
              <span class="mdi mdi-menu"></span>
            </button>
            

            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                
                  
                 
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown d-none d-lg-block">
                <div style="display: flex">
                  <!-- <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="/admin/addUser">+ Add User</a> -->
                  <!-- <a
                    class="nav-link btn btn-outline-success create-new-button"
                    id="createbuttonDropdown"
                    data-toggle="dropdown"
                    aria-expanded="false"
                    href="/admin/addProduct"
                    >+ Add Product</a
                  >
                  <a
                    class="nav-link btn btn-outline-success create-new-button"
                    id="createbuttonDropdown"
                    data-toggle="dropdown"
                    aria-expanded="false"
                    href="/admin/addCategory"
                    >+ Add Category</a
                  > -->
                  <a
                    class="nav-link btn btn-danger create-new-button"
                    id="createbuttonDropdown"
                    data-toggle="dropdown"
                    aria-expanded="false"
                    href="/admin/logout"
                    >Logout</a
                  >
                </div>
              </li>
            </ul>
            <button
              class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
              type="button"
              data-toggle="offcanvas"
            >
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel" id="usersData">
          <div class="content-wrapper">
            <!-- ================================== === ====================================== -->
            <div class="row">
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>Net Revenue</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div
                          class="d-flex d-sm-block d-md-flex align-items-center"
                        >
                          <h2 class="mb-0" id="revenue"></h2>
                          <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
                        </div>
                        <!-- <h6 class="text-muted font-weight-normal">11.38% Since last month</h6> -->
                      </div>
                      <div
                        class="col-4 col-sm-12 col-xl-4 text-center text-xl-right"
                      >
                        <i
                          class="icon-lg mdi mdi-codepen text-primary ml-auto"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>Total Sales</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div
                          class="d-flex d-sm-block d-md-flex align-items-center"
                        >
                          <h2 class="mb-0" id="sales"></h2>
                          <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+8.3%</p> -->
                        </div>
                        <h6 class="text-muted font-weight-normal">Products</h6>
                      </div>
                      <div
                        class="col-4 col-sm-12 col-xl-4 text-center text-xl-right"
                      >
                        <i style="size: 200px;" class="icon-lg mdi mdi-cart text-danger ml-auto"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>Profit</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <h2 class="mb-0" id="profit"></h2>
                        <!-- <h6 class="text-muted font-weight-normal">2.27% Since last month</h6> -->
                      </div>
                      <div
                        class="col-4 col-sm-12 col-xl-4 text-center text-xl-right"
                      >
                        <i
                          class="icon-lg mdi mdi-arrow-top-right text-success ml-auto"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="padding-top: 21px">
              <div class="col-md-4 col-xl-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Transaction History</h4>
                    <canvas id="myChart" class="transaction-chart"></canvas>
                    <% for (let i = 0; i < Transactions.length; i++) { %>
                    <div
                      class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3"
                    >
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1"><%= Transactions[i]._id %></h6>
                        <p class="text-muted mb-0">
                          <%=Transactions[i].date %>
                        </p>
                      </div>
                      <div
                        class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0"
                      >
                        <h6 class="font-weight-bold mb-0">
                          <%="₹"+Transactions[i].amount %>
                        </h6>
                      </div>
                    </div>
                    <% } %>
                  </div>
                </div>
              </div>
              <div class="col-md-8 col-xl-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title mb-1">Recent Orders</h4>
                      <p class="text-muted mb-1">Order Datas</p>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="preview-list">
                          <% for (var i = 0; i < OrderListing.length; i++) { %>
                          <div class="preview-item border-bottom">
                            <div class="preview-thumbnail">
                              <div
                                class="preview-icon bg-primary"
                                style="border-radius: 6px"
                              >
                                <img
                                  style="border-radius: 6px"
                                  src="/userImages/<%=OrderListing[i].product.image[0]%>"
                                  alt=""
                                />
                              </div>
                            </div>
                            <div
                              class="preview-item-content d-sm-flex flex-grow"
                            >
                              <div class="flex-grow">
                                <h6 class="preview-subject">
                                  <%= OrderListing[i].product.name %>
                                </h6>
                                <p class="text-muted mb-0">
                                  Payment : <%= OrderListing[i].paymentMethod %>
                                </p>
                              </div>
                              <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                <p class="text-muted">
                                  Payment Status : <%=
                                  OrderListing[i].paymentStatus %>
                                </p>
                                <p class="text-muted mb-0">
                                  Ordered on : <%= OrderListing[i].date %>
                                </p>
                              </div>
                            </div>
                          </div>
                          <% } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- ================================== === ====================================== -->
          </div>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->

    <script>
      function fetchSalesData() {
        fetch("/admin/dashDatas")
          .then((response) => response.json())
          .then((data) => {
            console.log("heloooo");

            const { TotalRevenue, TotalOdrProd, ChartDatas } = data;

            //passing values by IDS
            const revenue = document.getElementById("revenue");
            const sales = document.getElementById("sales");
            const profit = document.getElementById("profit");

            revenue.innerHTML = "₹" + TotalRevenue[0];
            sales.innerHTML = TotalOdrProd;
            profit.innerHTML = "₹" + TotalRevenue[1];

            const CODcount = data.ChartDatas[0].cashOnDeliveryCount;
            const online = data.ChartDatas[0].onlineCount;

            createDoughnutChart(CODcount, online);
          })

          .catch((error) => console.error("Error:", error));

        function createDoughnutChart(CODcount, online) {
          var xValues = ["CASH ON DELIVERY", "ONLINE"];
          var yValues = [CODcount, online];
          var barColors = ["#ff9203", "#03ff5f"];

          new Chart("myChart", {
            type: "doughnut",
            data: {
              labels: xValues,
              datasets: [
                {
                  backgroundColor: barColors,
                  data: yValues,
                },
              ],
            },
            options: {
              title: {
                display: true,
                text: "World Wide Wine Production 2018",
              },
            },
          });
        }
      }
      fetchSalesData();
    </script>

    <script src="../../assets/vendors/chart.js/Chart.min.js"></script>
    <script src="../../assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="../../assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="../../assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="../../assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->

    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="../../assets/js/settings.js"></script>
    <script src="../../assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>
