<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SmartBuy</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../assets/vendors/owl-carousel-2/owl.carousel.min.css">

 
    <link rel="stylesheet" href="../../assets/css/style1.css">
    <style>
      .image-container {
  position: relative;
  display: inline-block;
}

.add-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}

.image-container:hover .add-button {
  opacity: 1;
}
    </style>
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-6 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Edit Product Details</h3>
                <form action="" method="post" onsubmit="return validateForm()" enctype="multipart/form-data">
                  <div class="form-group">
                    <input type="hidden" name="product_id" value="<%=product._id%>">
                    <input type="hidden" name="basePrice" value="<%=product.basePrice%>">
                 
                    <label>Product Name *</label>
                    <input type="text" class="form-control p_input" value="<%=product.name%>" style="color: white;" name="name" required>
                  </div>
                  <div class="form-group">
                    <label>Description *</label>
                    <input type="text" class="form-control p_input" value="<%=product.description%>" style="color: white;" name="description" required>

                  </div>
                  <div class="form-group">
                    <label>Price *</label>
                    <input type="number" class="form-control p_input" value="<%=product.price%>" style="color: white;" name="price" required>
                  </div>
                  <div class="form-group">
                    <!-- <label>Product Picture  (5 or fewer) *</label>
                    <input type="file" class="form-control p_input" placeholder="Upload maximum 5 pictures" name="image" multiple style="display: inline-block;
                    padding: 10px 20px;
                    background-color: #1d2f36;
                    color: #fff;
                    cursor: pointer;
                    border-radius: 3px;">  -->

<div class="form-group d-flex flex-wrap mt-2 justify-content-sm-between">
  <div class="image-container" style="margin: 5px;">
      <img class="image" style="height: 7em;width: 7em;margin-left: 2px;border-radius: 8px;" src="/userImages/<%=product.image1%>" alt="Image">
      
      <label for="file-input1" class="add-button btn btn-success">Upload</label>
  <input type="file" id="file-input1" name="image1" multiple style="display: none;" />

      <div class="buttons d-flex justify-content-center mt-1">
        <!-- <button class="button btn btn-danger" data-id="0d">X</button> -->
      </div>
  </div>
  <div class="image-container"style="margin: 5px;">
      <img class="image" style="height: 7em;width: 7em;margin-left: 2px;border-radius: 8px;" src="/userImages/<%=product.image2%>" alt="Image">
       <label for="file-input2" class="add-button btn btn-success">Upload</label>
  <input type="file" id="file-input2" name="image2" style="display: none;" />
      <div class="buttons d-flex justify-content-center mt-1">
        <!-- <button class="button btn btn-danger " data-id="1d">X</button> -->
      </div>
  </div>
  <div class="image-container"style="margin: 5px;" >
      <img class="image" style="height: 7em;width: 7em;margin-left: 2px;border-radius: 8px;" src="/userImages/<%=product.image3%>" alt="Image">
      <label for="file-input3" class="add-button btn btn-success">Upload</label>
  <input type="file" id="file-input3" name="image3" style="display: none;" />
      <div class="buttons d-flex justify-content-center mt-1">
        <!-- <button class="button btn btn-danger" data-id="2d">X</button> -->
      </div>
  </div>
  <div class="image-container" style="margin: 5px;">
      <img class="image" style="height: 7em;width: 7em;margin-left: 2px;border-radius: 8px;" src="/userImages/<%=product.image4%>" alt="Image">
      <label for="file-input4" class="add-button btn btn-success">Upload</label>
      <input type="file" id="file-input4" name="image4" style="display: none;" />
      <div class="buttons d-flex justify-content-center mt-1">
        <!-- <button class="button btn btn-danger" data-id="3d">X</button> -->
      </div>
  </div>
  <div class="image-container" style="margin: 5px;">
      <img class="image" style="height: 7em;width: 7em;margin-left: 2px;border-radius: 8px;" src="/userImages/<%=product.image5%>" alt="Image">
      <label for="file-input5" class="add-button btn btn-success">Upload</label>
      <input type="file" id="file-input5" name="image4" multiple style="display: none;" />
      <div class="buttons d-flex justify-content-center mt-1">
        <!-- <button class="button btn btn-danger" data-id="4d">X</button> -->
      </div>
  </div>
</div>

<div class="form-group">
  <label>Offer ID (if any)</label>
  <input type="text" class="form-control p_input" value="<%=product.appliedOfferID%>" style="color: white;" name="offerID">

</div>
                  
                  <div class="form-group">
                    <label>Quantity *</label>
                    <input type="number" class="form-control p_input" value="<%=product.stock%>" style="color: white;" name="stock" required>
                  </div>
                  <div class="form-group">
                    <label>Sellername *</label>
                    <input type="text" class="form-control p_input" value="<%=product.sellername%>" style="color: white;" name="sellername" required>
                  </div>
                  <div class="form-group">
                    <label>Product Category *</label>
                    <select class="form-control p_input" style="color: white;" name="category" required>
                      <option value="" selected disabled>Select category</option>
                      <% for (let i = 0; i < category.length; i++) { %>
                        <% console.log(category); %>
                        <% if (category[i].is_unlisted === 0) { %>
                          <option><%= category[i].category %></option>
                        <% } %>
                      <% } %>
                    </select>
                  </div>
                  <p style="margin: 0; color: #ec2424;" id="errorDisplay"></p>

                  
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn">Save</button>
                  </div>
                  <p class="sign-up text-center">Go Back To <a href="/admin/dashboard">DASHBOARD</a></p>                 
                </form>

                <% if (typeof message !== 'undefined') { %>
                  <div style="border: 1px solid #ccc; padding: 10px; background-color: #991c1c; text-align: center;">
                    <p style="margin: 0; color: #ffff;"><%= message %></p>
                  </div>
                <% } %>


                
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>

    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="../../assets/js/settings.js"></script>
    <script src="../../assets/js/todolist.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      document.addEventListener("click", function (event) {
    if (event.target.classList.contains("button")) {
        const id = event.target.getAttribute("data-id");
        sendDeleteRequest(id);
    }
});

function sendDeleteRequest(id) {
    const data = { product_id: '<%= product._id %>', image_id: id };

    fetch('/admin/deleteImage', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(result => {
        if (result.message === 'Image deleted successfully') {
            location.reload(); // Reload the page after deletion
        } else {
            console.log("image cant delete")
        }
        if(result.message == "offer is out of date"){

        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}


  </script>

<script>
  // JavaScript variables that hold the URLs of existing images
  var existingImage1 = "/userImages/<%= product.image1 %>";
  var existingImage2 = "/userImages/<%= product.image2 %>";
  var existingImage3 = "/userImages/<%= product.image3 %>";
  var existingImage4 = "/userImages/<%= product.image4 %>";
  var existingImage5 = "/userImages/<%= product.image5 %>";

  // Function to set the default values of file input elements
  function setDefaultImageValues() {
    // Set the value of file input for image 1
    document.getElementById("file-input1").value = existingImage1;
    // Set the value of file input for image 2
    document.getElementById("file-input2").value = existingImage2;
    // Set the value of file input for image 3
    document.getElementById("file-input3").value = existingImage3;
    // Set the value of file input for image 4
    document.getElementById("file-input4").value = existingImage4;
    // Set the value of file input for image 5
    document.getElementById("file-input5").value = existingImage5;
  }

  // Call the function to set default values when the page loads
  setDefaultImageValues();
</script>




<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
const alertSweet = function sweetalert() {
        const Toast = Swal.mixin({
          toast: true,
          position: "top",
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener("mouseenter", Swal.stopTimer);
            toast.addEventListener("mouseleave", Swal.resumeTimer);
          },
        });

        Toast.fire({
          icon: "success",
          title: "Success",
        });
      };
  function validateForm() {
    var displayField = document.getElementById('errorDisplay');

      var name = document.forms[0]["name"].value;
      var description = document.forms[0]["description"].value;
      var price = document.forms[0]["price"].value;
      var stock = document.forms[0]["stock"].value;
      var sellername = document.forms[0]["sellername"].value;

      // Validate Product Name, Description, and Sellername as strings
      // if (!/^[a-zA-Z\s]+$/.test(name) || !/^[a-zA-Z\s]+$/.test(description) || !/^[a-zA-Z\s]+$/.test(sellername)) {
      //     alert("Please enter only letters and spaces for Product Name, Description, and Sellername.");
      //     return false;
      // }

      // Validate Price and Quantity as positive numbers
      if (isNaN(price) || price < 0 || isNaN(stock) || stock < 0) {
        
        // alert("Please enter valid positive numbers for Price and Quantity.");
        displayField.textContent = "⚠️ Please enter valid positive numbers for Price and Quantity";
          return false;
      }
        alertSweet()
      return true;
  }
</script>
    <!-- endinject -->
  </body>
</html>

