<!DOCTYPE html>
<html lang="en">
  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>SmartBuy</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="../../assets/css/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/vendors/css/vendor.bundle.base.css"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link
      rel="stylesheet"
      href="../../assets/vendors/jvectormap/jquery-jvectormap.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/vendors/flag-icon-css/css/flag-icon.min.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/vendors/owl-carousel-2/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/vendors/owl-carousel-2/owl.theme.default.min.css"
    />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style1.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <style>
      .shorten-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 170px; /* Adjust the max-width as needed */
      }
    </style>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div
          class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top"
        >
          <a
            class="sidebar-brand brand-logo"
            href="/"
            style="color: white; font-weight: 400"
            >SmartBuy</a
          >
          <a class="sidebar-brand brand-logo-mini" href="index.html"
            ><h2 style="color: white">SB</h2></a
          >
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img
                    class="img-xs rounded-circle"
                    src="/userImages/<%=admin.image%>"
                    alt=""
                  />
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-medium"><%=admin.name%></h5>
                  <span style="color: white">Admin</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"
                ><i class="mdi mdi-dots-vertical"></i
              ></a>
              <div
                class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
                aria-labelledby="profile-dropdown"
              >
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">
                      Account settings
                    </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">
                      Change Password
                    </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar-today text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">
                      To-do list
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span style="color: white" class="nav-link">Navigation</span>
          </li>
          <ldi class="nav-item menu-items">
            <a class="nav-link" href="/admin/dashboard">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span style="color: white" class="menu-title">DASHBOARD</span>
            </a>
          </ldi>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/salesData">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
              <span style="color: white" class="menu-title">SALES REPORT</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/usersData">
              <span class="menu-icon">
                <i class="mdi mdi-human"></i>
              </span>
              <span style="color: white" class="menu-title">USERS</span>
              <!-- <i class="menu-arrow"></i> -->
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/productData">
              <span class="menu-icon">
                <i class="mdi mdi-checkbox-multiple-blank"></i>
              </span>
              <span style="color: white" class="menu-title">PRODUCTS</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/categoryData">
              <span class="menu-icon">
                <i class="mdi mdi-format-list-bulleted-type"></i>
              </span>
              <span style="color: white" class="menu-title">CATEGORY</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/ordersList">
              <span class="menu-icon">
                <i class="mdi mdi-cart"></i>
              </span>
              <span style="color: white;" class="menu-title">ORDERS</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/couponDash">
              <span class="menu-icon">
                <i class="mdi mdi-ticket"></i>
              </span>
              <span style="color: white;" class="menu-title">COUPONS</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/offerDash">
              <span class="menu-icon">
                <i class="mdi mdi-sale"></i>
              </span>
              <span style="color: white;" class="menu-title">OFFERS</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div
            class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center"
          >
            <a class="navbar-brand brand-logo-mini" href="index.html"
              ><img src="../../assets/images/logo-mini.svg" alt="logo"
            /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button
              class="navbar-toggler navbar-toggler align-self-center"
              type="button"
              data-toggle="minimize"
            >
              <span class="mdi mdi-menu"></span>
            </button>
            
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown d-none d-lg-block">
                <div style="display: flex">
                  <!-- <button class="btn btn-outline-secondary" style="width:max-content;">
                    <i
                      class="mdi mdi-download"
                    ></i>
                    Print Sales Report
                  </button> -->
                  <!-- <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="/admin/addUser">+ Add User</a> -->
                  <!-- <a class="nav-link btn btn-outline-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="/admin/addProduct">+ Add Product</a> -->
                  <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="/admin/offerAdd">+ Add New Offer</a>
                  <a
                    class="nav-link btn btn-danger create-new-button"
                    id="createbuttonDropdown"
                    data-toggle="dropdown"
                    aria-expanded="false"
                    href="/admin/logout"
                    >Logout</a
                  >
                </div>
              </li>
            </ul>
            <button
              class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
              type="button"
              data-toggle="offcanvas"
            >
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel" id="usersData">
          <div class="content-wrapper">
            <!-- ================================== === ====================================== -->
            <div class="row">
              <% for(let i = 0 ;i<offers.length;i++)  {%>
              <div class="col-lg-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title d-flex justify-content-center"><%=offers[i].title%></h4>
                    <div style="height: 270px;width: 100%;">
                      <div class="col-lg-12 d-flex justify-content-center"><p style="font-size: 70px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><i><%=offers[i].offerPercentage%></i>%</p></div>
                      <div class="col-lg-12 d-flex justify-content-center" ><h1 id="offerID"><%=offers[i].offerID%></h1></div>
                      <div class="col-lg-12 d-flex justify-content-center"><p><%=offers[i].description%></p></div>
                      <div class="col-lg-12 d-flex" style="height: 60px;">
                        <button class="btn btn-outline-success" onclick="copyToClipboard('offerID')" style="width:50%;" >Coppy Code</button>
                        <a href="editOffer?id=<%=offers[i]._id%>" class="btn btn-outline-success" style="width:50%;display: flex;align-items: center;justify-content: center;">Edit</a>
                        <!-- <a href="deleteOffer?id=<%=offers[i]._id%>" class="btn btn-outline-success" style="width:50%;display: flex;align-items: center;justify-content: center;">Delete</a> -->
                        <a href="" data-offer-id="<%= offers[i]._id %>" class="btn btn-outline-success delete-offer" style="width:50%;display: flex;align-items: center;justify-content: center;">Delete</a>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
            

 
            <!-- ================================== === ====================================== -->
          </div>
        </div>
      </div>
    </div>
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>



   






    <!-- <script>
  window.onload=autoload
</script>
    <!-- <script src="../../assets/vendors/chart.js/Chart.min.js"></script> -->
    <script src="../../assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="../../assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="../../assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="../../assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->

    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="../../assets/js/settings.js"></script>
    <script src="../../assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../assets/js/dashboard.js"></script>
    <script>
      function copyToClipboard(var1) {
          let val = document.getElementById(var1).innerText; // Use innerText instead of innerHTML
          const selBox = document.createElement('textarea');
          selBox.style.position = 'fixed';
          selBox.style.left = '0';
          selBox.style.top = '0';
          selBox.style.opacity = '0';
          selBox.value = val;
          document.body.appendChild(selBox);
          selBox.focus();
          selBox.select();
          document.execCommand('copy');
          document.body.removeChild(selBox);
          // alert('Text copied to clipboard. Please use Ctrl-V to paste the data.');
      }
  </script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
  const deleteOfferButtons = document.querySelectorAll('.delete-offer');

  deleteOfferButtons.forEach(function(button) {
    button.addEventListener('click', function(e) {
      e.preventDefault(); // Prevent the default behavior of anchor tag
      const offerId = button.getAttribute('data-offer-id');
      
      const confirmation = confirm('Are you sure you want to delete this offer?'); // Confirmation dialog
      if (confirmation && offerId) {
  fetch(`/admin/deleteOffer?id=${offerId}`, {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json'
    }
  })
  .then(response => {
    if (response.ok) {
      // Handle successful deletion
      console.log('Offer deleted successfully');
      window.location.reload()
      // You might want to perform actions like removing the offer from the UI or refreshing the offers list
    } else {
      // Handle errors
      console.error('Error deleting offer');
    }
  })
  .catch(error => {
    console.error('Error deleting offer', error);
  });
}
    });
  });
});
</script>
    <!-- End custom js for this page -->
  </body>
</html>
