<!DOCTYPE html>
<html lang="en">
  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>SmartBuy</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="../../assets/css/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/vendors/css/vendor.bundle.base.css"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link
      rel="stylesheet"
      href="../../assets/vendors/jvectormap/jquery-jvectormap.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/vendors/flag-icon-css/css/flag-icon.min.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/vendors/owl-carousel-2/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/vendors/owl-carousel-2/owl.theme.default.min.css"
    />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style1.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <style>
      .shorten-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 170px; /* Adjust the max-width as needed */
      }
    </style>
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div
          class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top"
        >
          <a
            class="sidebar-brand brand-logo"
            href="/"
            style="color: white; font-weight: 400"
            >SmartBuy</a
          >
          <a class="sidebar-brand brand-logo-mini" href="index.html"
            ><h2 style="color: white">SB</h2></a
          >
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img
                    class="img-xs rounded-circle"
                    src="/userImages/<%=admin.image%>"
                    alt=""
                  />
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-medium"><%=admin.name%></h5>
                  <span style="color: white">Admin</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"
                ><i class="mdi mdi-dots-vertical"></i
              ></a>
              <div
                class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
                aria-labelledby="profile-dropdown"
              >
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">
                      Account settings
                    </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">
                      Change Password
                    </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar-today text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">
                      To-do list
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span style="color: white" class="nav-link">Navigation</span>
          </li>
          <ldi class="nav-item menu-items">
            <a class="nav-link" href="/admin/dashboard">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span style="color: white" class="menu-title">DASHBOARD</span>
            </a>
          </ldi>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/salesData">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
              <span style="color: white" class="menu-title">SALES REPORT</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/usersData">
              <span class="menu-icon">
                <i class="mdi mdi-human"></i>
              </span>
              <span style="color: white" class="menu-title">USERS</span>
              <!-- <i class="menu-arrow"></i> -->
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/productData">
              <span class="menu-icon">
                <i class="mdi mdi-checkbox-multiple-blank"></i>
              </span>
              <span style="color: white" class="menu-title">PRODUCTS</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/categoryData">
              <span class="menu-icon">
                <i class="mdi mdi-format-list-bulleted-type"></i>
              </span>
              <span style="color: white" class="menu-title">CATEGORY</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/ordersList">
              <span class="menu-icon">
                <i class="mdi mdi-cart"></i>
              </span>
              <span style="color: white;" class="menu-title">ORDERS</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/couponDash">
              <span class="menu-icon">
                <i class="mdi mdi-ticket"></i>
              </span>
              <span style="color: white;" class="menu-title">COUPONS</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin/offerDash">
              <span class="menu-icon">
                <i class="mdi mdi-sale"></i>
              </span>
              <span style="color: white;" class="menu-title">OFFERS</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div
            class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center"
          >
            <a class="navbar-brand brand-logo-mini" href="index.html"
              ><img src="../../assets/images/logo-mini.svg" alt="logo"
            /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button
              class="navbar-toggler navbar-toggler align-self-center"
              type="button"
              data-toggle="minimize"
            >
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">

                <button class="btn btn-outline-secondary">
                  <a href="/admin/salesData?interval=daily" style="color: white;">Daily</a>
                </button>
                <button class="btn btn-outline-secondary">
                  <a href="/admin/salesData?interval=weekly" style="color: white;">Weekly</a>
                </button>
                <button class="btn btn-outline-secondary">
                  <a href="/admin/salesData?interval=monthly" style="color: white;">Monthly</a>
                </button>
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right" style="width:30%;">
              <li class="nav-item dropdown d-none d-lg-block">
                <div style="display: flex;">
                  <a href="/admin/download?interval=<%=interval%>" class="btn btn-outline-secondary"><i
                    class="mdi mdi-download"
                  ></i>
                  Print Sales Report</a>
                  <!-- <button class="btn btn-outline-secondary" style="width:max-content;">
                    <i
                      class="mdi mdi-download"
                    ></i>
                    Print Sales Report
                  </button> -->
                  <!-- <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="/admin/addUser">+ Add User</a> -->
                  <!-- <a class="nav-link btn btn-outline-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="/admin/addProduct">+ Add Product</a> -->
                  <!-- <a class="nav-link btn btn-outline-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="/admin/addCategory">+ Add Category</a> -->
                  <a
                    class="nav-link btn btn-danger create-new-button"
                    id="createbuttonDropdown"
                    data-toggle="dropdown"
                    aria-expanded="false"
                    href="/admin/logout"
                    >Logout</a
                  >
                </div>
              </li>
            </ul>
            <button
              class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
              type="button"
              data-toggle="offcanvas"
            >
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel" id="usersData">
          <div class="content-wrapper">
            <!-- ================================== === ====================================== -->
            <div class="row">
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Sales Portfolio</h4>
                    <canvas id="areaChart" style="height: 250px"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Most Sold Products</h4>
                    <canvas id="barChart" style="height: 230px"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-xl-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title">Sold Stock</h4>
                      <!-- <p style="margin-right: 10px;" class=" mb-1">Sold Count</p>
        <p style="margin-right: 10px;" class=" mb-1">Stock to Empty</p> -->
                    </div>
                    <% for (let i = 0; i < OrderProdQty.length; i++) { %>
                    <div
                      class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3"
                    >
                      <div>
                        <!-- <img
                          style="height: 60px; width: 60px; border-radius: 8px"
                          src="/crop/<%= OrderProdQty[i].image1 %>"
                          alt="image"
                        /> -->
                      </div>
                      <div
                        class="text-md-center text-xl-left"
                        style="margin-left: 6%"
                      >
                        <h6 class="mb-1 shorten-text"><%= OrderProdQty[i].productName %></h6>
                        <p class="text-muted mb-0">
                          Last Order on : <%=
                          OrderProdQty[i].orderedDate[OrderProdQty[i].orderedDate.length-1]
                          %>
                        </p>
                      </div>
                      <div
                        class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0"
                      >
                        <h6
                          class="font-weight-bold mb-0"
                          style="padding-left: 8%; color: rgb(36, 244, 17)"
                        >
                          <span class="text-muted">Sold: </span><%=
                          OrderProdQty[i].totalQuantity %>
                        </h6>
                      </div>
                      <div
                        class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0"
                      >
                        <h6
                          class="font-weight-bold mb-0"
                          style="padding-left: 8%; color: red"
                        >
                          <span class="text-muted">Stock to Empty: </span><%=
                          OrderProdQty[i].stock %>
                        </h6>
                      </div>
                    </div>
                    <% } %>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-xl-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                      <h4 class="card-title">
                        Product Wise Profitability Analysis
                      </h4>
                      <!-- <p class=" mb-1 small">Profit</p> -->
                      <div
                        style="height: 35px; margin-bottom: 10px"
                        class="d-flex justify-content-end"
                      >
                        
                      </div>
                    </div>

                    <% for (let i = 0; i < OrderProdQty.length; i++) { %>
                    <div class="preview-list">
                      <div class="preview-item border-bottom">
                        <div class="preview-thumbnail">
                          <!-- <img
                            style="
                              height: 60px;
                              width: 60px;
                              border-radius: 8px;
                            "
                            src="/userImages/<%= OrderProdQty[i].image1 %>"
                            alt="image"
                          /> -->
                        </div>
                        <div class="preview-item-content d-flex flex-grow">
                          <div class="flex-grow">
                            <div
                              class="d-flex d-md-block d-xl-flex justify-content-between"
                              style="margin-top: 20px"
                            >
                            
                              <h6 class="preview-subject shorten-text">
                                <%= OrderProdQty[i].productName %>
                              </h6>
                              <h6
                                class="font-weight-bold mb-0"
                                style="
                                  padding-right: 7%;
                                  color: rgb(17, 223, 89);
                                "
                              >
                                <%="₹"+ OrderProdQty[i].totalPrice.toFixed(1) %>
                              </h6>
                            </div>
                            <!-- <p class="text-muted">Well, it seems to be working now.</p> -->
                          </div>
                        </div>
                      </div>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ================================== === ====================================== -->
          </div>
        </div>
      </div>
    </div>
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>



   




    <script>
      function fetchSalesData() {
  fetch("/admin/salesReportData")
    .then((response) => response.json())
    .then((data) => {
      const { TopSoldProduct,DateWiseDatas } = data;
      barChartCanvas(TopSoldProduct,DateWiseDatas);
    })
    .catch((error) => console.error("Error:", error));
}

function barChartCanvas(topSoldProducts,DateWiseDatas) {
  const data = {
    labels: topSoldProducts.map((product) => product.productName),
    datasets: [
      {
        label: "Sold",
        data: topSoldProducts.map((product) => product.soldCount),
        backgroundColor: [
          "rgba(255, 99, 132, 0.2)",
          "rgba(54, 162, 235, 0.2)",
          "rgba(255, 206, 86, 0.2)",
          "rgba(75, 192, 192, 0.2)",
          "rgba(153, 102, 255, 0.2)",
          "rgba(255, 159, 64, 0.2)",
        ],
        borderColor: [
          "rgba(255, 99, 132, 1)",
          "rgba(54, 162, 235, 1)",
          "rgba(255, 206, 86, 1)",
          "rgba(75, 192, 192, 1)",
          "rgba(153, 102, 255, 1)",
          "rgba(255, 159, 64, 1)",
        ],
        borderWidth: 1,
        fill: false,
      },
    ],
  };

  const options = {
    scales: {
      yAxes: [
        {
          ticks: {
            beginAtZero: true,
          },
          gridLines: {
            color: "rgba(204, 204, 204,0.1)",
          },
        },
      ],
      xAxes: [
        {
          gridLines: {
            color: "rgba(204, 204, 204,0.1)",
          },
        },
      ],
    },
    legend: {
      display: false,
    },
    elements: {
      point: {
        radius: 0,
      },
    },
  };

  const barChartCanvas = $("#barChart").get(0).getContext("2d");
  const barChart = new Chart(barChartCanvas, {
    type: "bar",
    data: data,
    options: options,
  });

///////////////////////////////////////////////////////////

        var areaData = {
          labels: DateWiseDatas.map((product) => product.date),
          datasets: [
            {
              label: "Quantity",
              data: DateWiseDatas.map((product) => product.totalQuantity),
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
              ],
              borderWidth: 1,
              fill: true,
            },
          ],
        };

        var areaOptions = {
          plugins: {
            filler: {
              propagate: true,
            },
          },
          scales: {
            yAxes: [
              {
                gridLines: {
                  color: "rgba(204, 204, 204, 0.1)",
                },
              },
            ],
            xAxes: [
              {
                gridLines: {
                  color: "rgba(204, 204, 204, 0.1)",
                },
              },
            ],
          },
        };
        var areaChartCanvas = document
          .getElementById("areaChart")
          .getContext("2d");
        var areaChart = new Chart(areaChartCanvas, {
          type: "line",
          data: areaData,
          options: areaOptions,
        });
      }
      fetchSalesData();
    </script>

    <!-- <script>
  window.onload=autoload
</script>
    <!-- <script src="../../assets/vendors/chart.js/Chart.min.js"></script> -->
    <script src="../../assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="../../assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="../../assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="../../assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->

    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="../../assets/js/settings.js"></script>
    <script src="../../assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../assets/js/dashboard.js"></script>

    <!-- End custom js for this page -->
  </body>
</html>
