<!DOCTYPE html>
<html lang="en">


<!-- molla/product-centered.html  22 Nov 2019 10:03:13 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SmartBuy</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style2.css">
    <link rel="stylesheet" href="assets/css/plugins/nouislider/nouislider.css">
</head>

<body style="background-color: rgb(255, 255, 255);">
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <h3>SmartBuy</h3>
                            <!-- <img src="assets/images/logo.png" alt="Molla Logo" width="105" height="25"> -->
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container ">
                                    <a href="/" class="">Home</a>
                                </li>
                                <li>
                                    <a href="" class="">Shop</a>
   
                                </li>
                                <li>
                                    <a href="" class="">Product</a>

                                </li>
                                <li>
                                    <a href="" class="">Pages</a>
    
                                </li>
                                <li>
                                    <a href="" class="">Blog</a>

                                </li>
                                <li>
                                    <a href="" class="">Elements</a>

                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        <div class="dropdown compare-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                                <i class="icon-random"></i>
                            </a>


                        </div><!-- End .compare-dropdown -->

                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <!-- <span class="cart-count">2</span> -->
                            </a>

                            <!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <!-- <div class="container-fluid" style="height: 30px;">
            <div class="row px-xl-5">
                <div class="col-12">
                    <nav class="breadcrumb bg-light mb-30">
                        <a class="breadcrumb-item text-dark" href="#">Home</a>
                        <a class="breadcrumb-item text-dark" href="#">Shop</a>
                        <span class="breadcrumb-item active">Checkout</span>
                    </nav>
                </div>
            </div>
        </div> -->
        <!-- Breadcrumb End -->
    
    
        <!-- Checkout Start -->
        <div class="container-fluid">
            <div class="row px-lg-11">

                <div class="col-12 col-md-8 mb-3" style="border: 5px solid rgb(88, 3, 6);;">
                    <div class="mb-5  col-lg-12" style="padding-left: 0%;padding-right: 0%;">
                        <h5 style="background-color: rgb(88, 3, 6);color: white;height: 45px;text-align:center;padding-top: 14px;">DELIVERY ADDRESS</h5>
                        <!-- <h5 class="section-title position-relative  mb-3" style="padding-left: 20px;">Select Shipping Address </h5> -->
                        <div class="" p-30" style="padding-left: 20px;padding-right: 20px;">
                            <% for (let i = addresses.length - 1; i >= 0; i--) { %>
                                <div class="form-group" style="padding-left: 30px; padding-right: 30px;">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="options" id="address<%= i%>" value="<%=addresses[i]._id %>">
                                        <label style="color: #000000;font-size: larger;font-weight:500;" class="custom-control-label" for="address<%= i%>">
                                            <%= addresses[i].fullName %>, <%= addresses[i].mobileNo %>,
                                            <%= addresses[i].city %>, <%= addresses[i].state %>,
                                            <%= addresses[i].country %>, <%= addresses[i].pincode %>.
                                        </label>
                                        <span style="padding-left: 100%;"><button id="sendDataButton" data-value="<%= addresses[i]._id %>">X</button></span>
                                    </div>
                                </div>
                                <% } %>
                            
    
                        </div>
                        <button class="btn btn-dark" style="width: 30%;height: 40px;background-color: rgb(88, 3, 6);color: white;margin-left: 16%;" id="refreshButton">↻ Refresh</button>
                        <button style="width: 30%;height: 40px;background-color: rgb(88, 3, 6);color: white;margin-left: 2%;" data-toggle="collapse" data-target="#shipping-address">+ New Address</button>

                        

                    </div>




                <div>
                    <!-- <h5 class="section-title position-relative text-uppercase mb-3" style="padding-left: 20px;">SELECTED ADDRESS</h5>
                    <div class="bg-light p-30 mb-5" style="padding-left: 20px;padding-right: 20px;">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="selectedName" style="color: #000000;font-weight: bold;">Name</label>
                                <input id="selectedName" style="color: #000000;font-weight: bold;" class="form-control" type="text" readonly>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="selectedMobile" style="color: #000000;font-weight: bold;">Mobile No</label>
                                <input id="selectedMobile" style="color: #000000;font-weight: bold;" class="form-control" type="text" readonly>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="selectedCountry" style="color: #000000;font-weight: bold;">Country</label>
                                <input id="selectedCountry" style="color: #000000;font-weight: bold;" class="form-control" type="text" readonly>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="selectedCity" style="color: #000000;font-weight: bold;">City</label>
                                <input id="selectedCity" style="color: #000000;font-weight: bold;" class="form-control" type="text" readonly>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="selectedState" style="color: #000000;font-weight: bold;">State</label>
                                <input id="selectedState" style="color: #000000;font-weight: bold;" class "form-control" type="text" readonly>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="selectedPincode" style="color: #000000;font-weight: bold;">Pin Code</label>
                                <input id="selectedPincode" style="color: #000000;font-weight: bold;" class="form-control" type="text" readonly>
                            </div>
                        </div>
                    </div> -->
                    <!-- <button style="width: 30%;height: 40px;background-color: #000000;color: white;margin-left: 20%;">Save</button> -->
                    <!-- <button style="width: 30%;height: 40px;background-color: #000000;color: white;margin-left: 2%;" data-toggle="collapse" data-target="#shipping-address">New Address</button> -->
                    <div style="height: 30px;"></div>
                    <div class="collapse mb-5" id="shipping-address">
                        <h5 class="section-title position-relative text-uppercase mb-3" style="padding-left: 20px;margin-top: 20px;">ADD NEW ADDRESS</h5>        
                        <div class=" p-30" >
                            <form action="/addressPage" method="post">
                                <div class="row" style="padding-left: 20px;padding-right: 20px;">
                                    <div class="col-md-6 form-group" >
                                        <label style="color: #000000;font-weight: bold;">Full Name</label>
                                        <input  style="color: #000000;font-weight: bold;"class="form-control" type="text" name="name" placeholder="Full Name">
                                    </div>                                   
                                    <div class="col-md-6 form-group">
                                        <label style="color: #000000;font-weight: bold;">Mobile No</label>
                                        <input  style="color: #000000;font-weight: bold;"class="form-control" type="number" name="mobn" placeholder="+91 00000 00000">
                                    </div>
                                    <div class="col-md-6 form-group" style="height: 50px;">
                                        <label style="color: #000000;font-weight: bold;">Country</label>
                                        <select  style="color: #000000;font-weight: bold;"class="custom-select" type="text" name="country">
                                            <option>United States</option>
                                            <option selected>India</option>
                                            <option>US</option>
                                            <option>UK</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label style="color: #000000;font-weight: bold;">Address and City</label>
                                        <input style="color: #000000;font-weight: bold;" class="form-control" name="city" type="text" placeholder="Enter Address">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label style="color: #000000;font-weight: bold;">State</label>
                                        <input style="color: #000000;font-weight: bold;" class="form-control" type="text" name="state" placeholder="">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label style="color: #000000;font-weight: bold;">Pincode</label>
                                        <input  style="color: #000000;font-weight: bold;" class="form-control" type="number" name="pin" placeholder="000000">
                                    </div>
                                </div>
                                <button type="submit" style="width: 30%;height: 40px;background-color: rgb(88, 3, 6);color: white;margin-left: 36%;">Save</button>

                            </form>
                        </div>

                    </div>
                    
                </div>
            </div>





                <div class="col-lg-4 ">
                    <div style="border: 5px solid rgb(88, 3, 6);">
                        <h5 style="background-color: rgb(88, 3, 6);color: white;height: 45px;text-align:center;padding-top: 14px;">ORDER TOTAL</h5>
                    <div class=" p-30 mb-5">
                        <!-- <div class="border-bottom" style="padding-left: 30px;padding-right: 30px;">
                            <h6 class="mb-3">Products</h6>
                            <div class="d-flex justify-content-between">
                                <p style="color: #000000;">Product Name 1</p>
                                <p style="color: #000000;">$150</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p style="color: #000000;">Product Name 2</p>
                                <p style="color: #000000;">$150</p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p style="color: #000000;">Product Name 3</p>
                                <p style="color: #000000;">$150</p>
                            </div>
                        </div> -->
                        <div class="border-bottom pt-3 pb-2" style="padding-left: 30px;padding-right: 30px;">
                            <div class="d-flex justify-content-between mb-3">
                                <h6 style="color: #000000;">Subtotal</h6>
                                <h6 style="color: #000000;">₹ <%=totalamount%></h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 style="color: #000000;" class="font-weight-medium">Shipping</h6>
                                <h6  style="color: #000000;"class="font-weight-medium">Free</h6>
                            </div>
                        </div>
                        
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2" style="padding-left: 30px;padding-right: 30px;">
                            <h5 style="font-weight: 700;font-size: x-large;color: #000000;">Total</h5>
                            <h5 style="font-weight: 700;font-size: x-large;color: #000000;">₹ <%=totalamount%></h5>
                        </div>
                    </div>
                    </div>
                   <div style="border: 5px solid rgb(88, 3, 6);margin-top: 5px;">
                    <div class="mb-5">
                        <h5 style="background-color: rgb(88, 3, 6);color: white;height: 45px;text-align:center;padding-top: 14px;">PAYMENT</h5>
                        <div class=" p-30">
                            <div class="form-group" style="padding-left: 30px; padding-right: 30px; padding-top:20px;">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="payment" id="COD">
                                    <label style="color: #000000;font-weight: bold;" class="custom-control-label" for="COD">Cash on Delivery (COD)</label>
                                </div>
                            </div>
                            <div class="form-group" style="padding-left: 30px; padding-right: 30px;">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="payment" id="Online">
                                    <label style="color: #000000;font-weight: bold;" class="custom-control-label" for="Online">Online Payment</label>
                                </div>
                            </div>
                            <!-- <div class="form-group mb-4" style="padding-left: 30px; padding-right: 30px;">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="payment" id="Wallet">
                                    <label style="color: #000000;font-weight: bold;" class="custom-control-label" for="Wallet">Wallet</label>
                                </div>
                            </div> -->
                        </div>
                    </div>
                   </div>
                </div>
            </div>
        </div>
        <button onclick="orderPlace()" class="btn btn-success font-weight-bold" style="width:70%;height: 60px;margin-left: 15%;margin-top: 20px;" id="submitBothSets">Place Order</button>


        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<!-- <img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25"> -->
	            				<h3>SmartBuy</h3>
                                <p>this e comerce aim to provide Qualitya and Fast Delivery of the customers dream and assuring the fast resolving the issues </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="about.html">About Molla</a></li>
	            					<li><a href="#">How to shop on Molla</a></li>
	            					<li><a href="#">FAQ</a></li>
	            					<li><a href="contact.html">Contact us</a></li>
	            					<li><a href="login.html">Log in</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Payment Methods</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">Terms and conditions</a></li>
	            					<li><a href="#">Privacy Policy</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Sign In</a></li>
	            					<li><a href="cart.html">View Cart</a></li>
	            					<li><a href="#">My Wishlist</a></li>
	            					<li><a href="#">Track My Order</a></li>
	            					<li><a href="#">Help</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="index.html">Home</a>

                        <ul>
                            <li><a href="index-1.html">01 - furniture store</a></li>
                            <li><a href="index-2.html">02 - furniture store</a></li>
                            <li><a href="index-3.html">03 - electronic store</a></li>
                            <li><a href="index-4.html">04 - electronic store</a></li>
                            <li><a href="index-5.html">05 - fashion store</a></li>
                            <li><a href="index-6.html">06 - fashion store</a></li>
                            <li><a href="index-7.html">07 - fashion store</a></li>
                            <li><a href="index-8.html">08 - fashion store</a></li>
                            <li><a href="index-9.html">09 - fashion store</a></li>
                            <li><a href="index-10.html">10 - shoes store</a></li>
                            <li><a href="index-11.html">11 - furniture simple store</a></li>
                            <li><a href="index-12.html">12 - fashion simple store</a></li>
                            <li><a href="index-13.html">13 - market</a></li>
                            <li><a href="index-14.html">14 - market fullwidth</a></li>
                            <li><a href="index-15.html">15 - lookbook 1</a></li>
                            <li><a href="index-16.html">16 - lookbook 2</a></li>
                            <li><a href="index-17.html">17 - fashion store</a></li>
                            <li><a href="index-18.html">18 - fashion store (with sidebar)</a></li>
                            <li><a href="index-19.html">19 - games store</a></li>
                            <li><a href="index-20.html">20 - book store</a></li>
                            <li><a href="index-21.html">21 - sport store</a></li>
                            <li><a href="index-22.html">22 - tools store</a></li>
                            <li><a href="index-23.html">23 - fashion left navigation store</a></li>
                            <li><a href="index-24.html">24 - extreme sport store</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="category.html">Shop</a>
                        <ul>
                            <li><a href="category-list.html">Shop List</a></li>
                            <li><a href="category-2cols.html">Shop Grid 2 Columns</a></li>
                            <li><a href="category.html">Shop Grid 3 Columns</a></li>
                            <li><a href="category-4cols.html">Shop Grid 4 Columns</a></li>
                            <li><a href="category-boxed.html"><span>Shop Boxed No Sidebar<span class="tip tip-hot">Hot</span></span></a></li>
                            <li><a href="category-fullwidth.html">Shop Fullwidth No Sidebar</a></li>
                            <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                            <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span class="tip tip-new">New</span></span></a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="#">Lookbook</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="product.html" class="sf-with-ul">Product</a>
                        <ul>
                            <li><a href="product.html">Default</a></li>
                            <li><a href="product-centered.html">Centered</a></li>
                            <li><a href="product-extended.html"><span>Extended Info<span class="tip tip-new">New</span></span></a></li>
                            <li><a href="product-gallery.html">Gallery</a></li>
                            <li><a href="product-sticky.html">Sticky Info</a></li>
                            <li><a href="product-sidebar.html">Boxed With Sidebar</a></li>
                            <li><a href="product-fullwidth.html">Full Width</a></li>
                            <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            <li>
                                <a href="about.html">About</a>

                                <ul>
                                    <li><a href="about.html">About 01</a></li>
                                    <li><a href="about-2.html">About 02</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>

                                <ul>
                                    <li><a href="contact.html">Contact 01</a></li>
                                    <li><a href="contact-2.html">Contact 02</a></li>
                                </ul>
                            </li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                            <li><a href="404.html">Error 404</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>

                        <ul>
                            <li><a href="blog.html">Classic</a></li>
                            <li><a href="blog-listing.html">Listing</a></li>
                            <li>
                                <a href="#">Grid</a>
                                <ul>
                                    <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                    <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                    <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                    <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Masonry</a>
                                <ul>
                                    <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                    <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                    <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                    <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Mask</a>
                                <ul>
                                    <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                    <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Single Post</a>
                                <ul>
                                    <li><a href="single.html">Default with sidebar</a></li>
                                    <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                    <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="elements-list.html">Elements</a>
                        <ul>
                            <li><a href="elements-products.html">Products</a></li>
                            <li><a href="elements-typography.html">Typography</a></li>
                            <li><a href="elements-titles.html">Titles</a></li>
                            <li><a href="elements-banners.html">Banners</a></li>
                            <li><a href="elements-product-category.html">Product Category</a></li>
                            <li><a href="elements-video-banners.html">Video Banners</a></li>
                            <li><a href="elements-buttons.html">Buttons</a></li>
                            <li><a href="elements-accordions.html">Accordions</a></li>
                            <li><a href="elements-tabs.html">Tabs</a></li>
                            <li><a href="elements-testimonials.html">Testimonials</a></li>
                            <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                            <li><a href="elements-portfolio.html">Portfolio</a></li>
                            <li><a href="elements-cta.html">Call to Action</a></li>
                            <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->


    <div class="modal fade" id="orderPlacedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"   style="margin-left: 40%;">Order Placed</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
            <div class="modal-footer">
              <button type="button" style="background-color:rgb(0, 0, 0);color:white;border: none;height: 35px; font-size: larger;border-radius: 3px;"  data-dismiss="modal">Close</button>
              <button type="button" style="background-color:rgb(0, 0, 0);color:white;border: none;height: 35px;font-size: larger;border-radius: 3px;"><a href="/userOrders" style="text-decoration: none;color: white;">View Orders</a></button>
            </div>
          </div>
        </div>
      </div>

    <!-- Plugins JS File -->

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


    <script>
       const options = document.querySelectorAll('input[type="radio"][name="options"]');
        const paymentOptions = document.querySelectorAll('input[type="radio"][name="payment"]');
        const submitBothSets = document.getElementById("submitBothSets");

        // Add event listener for the combined submit button
        submitBothSets.addEventListener("click", function () {
            // Initialize arrays to store selected data from both sets
            let selectedData;
            let selectedPaymentOptions;

            // Collect data from the first set of radio buttons
            options.forEach((option) => {
                if (option.checked) {
                    console.log("option checked");
                    selectedData=option.value;
                }
            });

            // Collect data from the second set of radio buttons
            paymentOptions.forEach((option) => {
                if (option.checked) {
                    // When a radio button is checked, add the selected payment option to the array
                    selectedPaymentOptions=option.id;
                }
            });

            // Combine both sets of data
            const combinedData = {
                selectedData: selectedData,
                selectedPaymentOptions: selectedPaymentOptions
            };

            // Create an XMLHttpRequest object for the combined data
            const xhr = new XMLHttpRequest();

            // Configure the request for the combined data
            xhr.open("POST", "/orderPlaceClicked", true);
            xhr.setRequestHeader("Content-Type", "application/json");

            // Define the callback function to handle the server's response for the combined data
            xhr.onload = function () {
                if (xhr.status === 200) {
                    // Request was successful, update the page as needed
                    const response = JSON.parse(xhr.responseText);
                    if (response.success === 'OrderPlaced') {
          
          $('#orderPlacedModal').modal('show');
        }else if(response.success === 'OnlinePayment'){
            console.log("online payment initialized");
        }
                }
            };

            // Convert the combined data to JSON and send it to the server
            xhr.send(JSON.stringify(combinedData));
            
        });
    </script>
      
      
      <script>
        //this script for addres deletion from user from listed
       document.getElementById("sendDataButton").addEventListener("click", function() {
  // Access the value from the button's data attribute
  var buttonValue = this.getAttribute("data-value");

  // Send the value to the server using AJAX
  fetch("/deleteAddr", {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify({ value: buttonValue }) // Send the value as part of the data
  })
    .then(response => response.json())
    .then(data => {
      // Handle the server's response here
      console.log(data);
    })
    .catch(error => {
      console.error("Error:", error);
    });
});
      </script>



<!-- <script>
    var options = {
        "key": "YOUR_KEY_ID", // Enter the Key ID generated from the Dashboard
        "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Acme Corp",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": "order_IluGWxBm9U8zJ8", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            alert(response.razorpay_payment_id);
            alert(response.razorpay_order_id);
            alert(response.razorpay_signature)
        },
        "prefill": {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9000090000"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response){
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
    });
    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
    </script>
       -->


      
      
    <script>
        document.getElementById("refreshButton").addEventListener("click", function() {
            location.reload();
        });
        </script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.elevateZoom.min.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
</body>


<!-- molla/product-centered.html  22 Nov 2019 10:03:20 GMT -->
</html>