<!DOCTYPE html>
<html lang="en">
  <!-- molla/category.html  22 Nov 2019 10:02:48 GMT -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>SmartBuy</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Molla - Bootstrap eCommerce Template" />
    <meta name="author" content="p-themes" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/images/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/images/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/images/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/images/icons/site.html" />
    <link
      rel="mask-icon"
      href="assets/images/icons/safari-pinned-tab.svg"
      color="#666666"
    />
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico" />
    <meta name="apple-mobile-web-app-title" content="Molla" />
    <meta name="application-name" content="Molla" />
    <meta name="msapplication-TileColor" content="#cc9966" />
    <meta
      name="msapplication-config"
      content="assets/images/icons/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <link
      rel="stylesheet"
      href="assets/css/plugins/owl-carousel/owl.carousel.css"
    />
    <link
      rel="stylesheet"
      href="assets/css/plugins/magnific-popup/magnific-popup.css"
    />
    <link
      rel="stylesheet"
      href="assets/css/plugins/nouislider/nouislider.css"
    />
  </head>

  <body>
    <div class="page-wrapper">
      <header class="header">
        <div class="header-middle sticky-header">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>
                    <h3>SmartBuy</h3>
                    <!-- <a href="index.html" class="logo">
                        <img src="assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                    </a> -->
                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container active">
                                <a href="/home" class="sf-with-ul">Home</a>
                            </li>
                            <li>
                                <a href="" class="sf-with-ul">Shop</a>
                            </li>
                            <li>
                                <a href="" class="sf-with-ul">Product</a>
                            </li>
                            <li>
                                <a href="" class="sf-with-ul">Pages</a> 
                            </li>
                            <li>
                                <a href="" class="sf-with-ul">Blog</a>
                            </li>
                            <li>
                                <a href="" class="sf-with-ul">Elements</a>
                            </li>
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-left -->
    
                <div class="header-right">
                    <div class="header-search">
                        <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                        <form action="#" method="get">
                            <div class="header-search-wrapper">
                                <label for="q" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->
                    
    
                    <div class="dropdown cart-dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                            <i class="icon-shopping-cart"></i> 
                        </a>    
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->
      <!-- End .header -->

      <main class="main">
        <div class="page-header text-center" style="background: #000000">
          <div class="container">
            <h1 class="page-title" style="color: white">Shop</h1>
          </div>
          <!-- End .container -->
        </div>
        <!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
          <div class="container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Shop</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Grid 3 Columns
              </li>
            </ol>
          </div>
          <!-- End .container -->
        </nav>
        <!-- End .breadcrumb-nav -->

        <div class="page-content" style="padding-left: 10px">
          <div class="" style="padding-left: 3%">
            <div class="row">
              <div class="col-lg-11">
                <div class="toolbox">
                  <div class="toolbox-left">
                    <div class="toolbox-info">
                      
                    </div>
                    <!-- End .toolbox-info -->
                  </div>
                  <!-- End .toolbox-left -->

                  <div class="toolbox-right" style="margin-right: 6%">
                    <div class="toolbox-sort">
                      <!-- <label for="sortby" style="font-weight: 900"
                        >Sort by Price:</label
                      > -->
                      <div class="select-custom">
                        <!-- <select
                          name="sortby"
                          id="sortby"
                          class="form-control"
                          style="font-weight: 900; color: #000"
                          onchange="applySort()"
                        >
                          <option value="priceLowToHigh" selected="selected">
                            Low to High
                          </option>
                          <option value="priceHighToLow">High to Low</option>
                        </select> -->
                      </div>
                    </div>
                    <!-- End .toolbox-sort -->
                  </div>
                  <!-- End .toolbox-right -->
                </div>
                <!-- End .toolbox -->

                <div class="products col-12 d-flex justify-content-center">
                  <div class="row ustify-content-cjenter col-lg-12" >
                    <% for (let i = 0; i < products.length; i++) { %>
                    <div
                      style="
                        box-shadow: 2px 10px 2px 2px #9b9595;
                        border-radius: 10px;
                        display: flex;
                        margin: 20px;
                      "
                      class="col-6 col-md-4 col-lg-2"
                    >
                      <div class="product product-7 text-center">
                        <figure
                          class="product-media"
                          style="
                            height: 150px;
                            background-color: white;
                            justify-content: center;
                          "
                        >
                          <span class="product-label label-new">New</span>
                          <a href="product.html">
                            <img
                              src="/userImages/<%=products[i].image1%>"
                              alt="Product image"
                              class="product-image"
                            />
                          </a>
                          
                          <!-- End .product-action -->
                        </figure>
                        <!-- End .product-media -->

                        <div
                          class="product-body"
                          style="background-color: #ffffff; height: 200px"
                        >
                          <h3
                            class="product-title"
                            style="
                              color: rgb(0, 0, 0);
                              font-weight: 800;
                              font-size: larger;
                            "
                          >
                            <a href="product.html"><%=products[i].name%></a>
                          </h3>
                          <h3 class="product-title" style="color: rgb(0, 0, 0)">
                            <a href="product.html"
                              ><%=products[i].description%></a
                            >
                          </h3>
                          <div
                            class="product-price"
                            style="
                              color: rgb(0, 0, 0);
                              font-weight: 900;
                              color: red;
                            "
                          >
                            RS.<%=products[i].price%>
                          </div>
                          <div class="product-action">
                            <a href="" onclick="addtocart('<%= products[i]._id %>')" data-product-id="<%= products[i]._id %>" class="btn-product btn-cart"
                              ><span>add to cart</span></a
                            >
                          </div>
                        </div>
                      </div>
                      <!-- End .product -->
                    </div>
                    <!-- End .col-sm-6 col-lg-4 -->
                    <% } %>
                  </div>
                  <!-- End .row -->
                </div>
                <!-- End .products -->
                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center">
                      <li class="page-item <%if(curentPage==1){%> disabled<%}%>">
                          <a class="page-link page-link-prev" href="/Allproducts?page=<%= Number(curentPage) - 1 %>" aria-label="Previous" tabindex="-1"
                                                                                                                                                                                                                                                                                         aria-disabled="true">
                              <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                          </a>
                      </li>

                      <%for(let i=Math.max(1, curentPage - 1); i <=Math.min(totalPage, curentPage + 2); i++){%>
                          <%if(i===curentPage){%>
                              <li class="page-item active" aria-current="page">
                                  <a class="page-link">
                                      <%= i %>
                                  </a>
                              </li>
                              <%}else{%>
                                  <li class="page-item">
                                      <a class="page-link" href="/Allproducts?page=<%= i %>">
                                          <%= i %>
                                      </a>
                                  </li>
                                  <%}%>
                                      <%}%>

                                          <li class="page-item-total">of <%= totalPage %>
                                          </li>
                                          <li class="page-item <%if(curentPage === totalPage){%> disabled<%}%>">
                                              <a class="page-link page-link-next" href="/Allproducts?page=<%= Number(curentPage) + 1 %>"
                                                                                                                                                                                                                                                                                                             aria-label="Next">
                                                  Next <span aria-hidden="true"><i
                                                                                                                                                                                                                                                                                                                     class="icon-long-arrow-right"></i></span>
                                              </a>
                                          </li>
                  </ul>
              </nav>

              </div>
              <!-- End .col-lg-9 -->
              <aside class="col-lg-1 order-lg-first">
                <div>
                 
                  <div class="widget widget-clean">
                    
                    <label>Filters:</label>
                    
                  </div>
                  <!-- End .widget widget-clean -->

                  <div class="widget widget-collapsible">
                    
                    <h3 class="widget-title">
                      <a
                        data-toggle="collapse"
                        href="#widget-4"
                        role="button"
                        aria-expanded="true"
                        aria-controls="widget-4"
                      >
                        Brand
                      </a>
                    </h3>
                    <!-- End .widget-title -->

                    <div class="collapse show" id="widget-4">
                      <div class="widget-body">
                        <div class="filter-items">
                          <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                              <input
                                type="checkbox"
                                class="custom-control-input"
                                id="brand-1"
                                data-brand="SAMSUNG"
                         
                              />
                              <label class="custom-control-label" for="brand-1"
                                >SAMSUNG</label
                              >
                            </div>
                            <!-- End .custom-checkbox -->
                          </div>
                          <!-- End .filter-item -->

                          <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                              <input
                                type="checkbox"
                                class="custom-control-input"
                                id="brand-2"
                                data-brand="REDMI"
                              
                              />
                              <label class="custom-control-label" for="brand-2"
                                >REDMI</label
                              >
                            </div>
                            <!-- End .custom-checkbox -->
                          </div>

                          <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                              <input
                                type="checkbox"
                                class="custom-control-input"
                                id="brand-3"
                                data-brand="LENOVO"
                               
                              />
                              <label class="custom-control-label" for="brand-3"
                                >LENOVO</label
                              >
                            </div>
                            <!-- End .custom-checkbox -->
                          </div>

                          <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                              <input
                                type="checkbox"
                                class="custom-control-input"
                                id="brand-4"
                                data-brand="APPLE"
                              
                              />
                              <label class="custom-control-label" for="brand-4"
                                >APPLE</label
                              >
                            </div>
                            <!-- End .custom-checkbox -->
                          </div>
                          <!-- End .filter-item -->

                          <!-- Add similar filter items for other brands -->
                        </div>
                        <!-- End .filter-items -->
                      </div>
                      <!-- End .widget-body -->
                    </div>
                    <!-- End .collapse -->
                  </div>
                  <!-- End .widget -->
                 

                  <div class="widget widget-collapsible">
                    <h3 class="widget-title">
                      <a
                        data-toggle="collapse"
                        href="#widget-1"
                        role="button"
                        aria-expanded="true"
                        aria-controls="widget-1"
                      >
                        Category
                      </a>
                    </h3>
                    <!-- End .widget-title -->

                    <div class="collapse show" id="widget-1">
                      <div class="widget-body">
                        <div class="filter-items filter-items-count">
                          <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                              <input
                                type="checkbox"
                                class="custom-control-input"
                                id="cat-1"
                                data-category="MOBILE PHONE"
                              
                              />
                              <label class="custom-control-label" for="cat-1"
                                >MOBILE PHONE</label
                              >
                            </div>
                            <!-- End .custom-checkbox -->
                            <!-- <span class="item-count">3</span> -->
                          </div>
                          <!-- End .filter-item -->

                          <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                              <input
                                type="checkbox"
                                class="custom-control-input"
                                id="cat-2"
                                data-category="LAPTOP"
                                
                              />
                              <label class="custom-control-label" for="cat-2"
                                >LAPTOP</label
                              >
                            </div>
                            <!-- End .custom-checkbox -->
                            <!-- <span class="item-count">0</span> -->
                          </div>
                          <!-- End .filter-item -->

                          <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                              <input
                                type="checkbox"
                                class="custom-control-input"
                                id="cat-3"
                                data-category="TELEVISION"
                                
                              />
                              <label class="custom-control-label" for="cat-3"
                                >TELEVISION</label
                              >
                            </div>
                            <!-- End .custom-checkbox -->
                            <!-- <span class="item-count">4</span> -->
                          </div>
                          <!-- End .filter-item -->

                          <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                              <input
                                type="checkbox"
                                class="custom-control-input"
                                id="cat-4"
                                data-category="SPEAKERS"
                                
                              />
                              <label class="custom-control-label" for="cat-4"
                                >SPEAKERS</label
                              >
                            </div>
                            <!-- End .custom-checkbox -->
                            <!-- <span class="item-count">2</span> -->
                          </div>
                          <button class="btn btn-dark" style="width:10px;" id="applyFiltersButton">Apply Filters</button>
                          <button class="btn btn-light" style="width: 10px;" id="clearFiltersButton">Clear Filters</button>
                          <!-- End .filter-item -->
                        </div>
                        
                        <!-- End .filter-items -->
                      </div>
                      <!-- End .widget-body -->
                    </div>
                    <!-- End .collapse -->
                  </div>
                  <!-- End .widget -->

                  <!-- End .widget -->
                </div>
                
                <!-- End .sidebar sidebar-shop -->
              </aside>
              <!-- End .col-lg-3 -->
            </div>
            <!-- End .row -->
          </div>
          <!-- End .container -->
        </div>
        <!-- End .page-content -->
      </main>
      <!-- End .main -->

      <footer class="footer">
        <div class="footer-middle">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <div class="widget widget-about">
                  <img
                    src="assets/images/logo.png"
                    class="footer-logo"
                    alt="Footer Logo"
                    width="105"
                    height="25"
                  />
                  <p>
                    Praesent dapibus, neque id cursus ucibus, tortor neque
                    egestas augue, eu vulputate magna eros eu erat.
                  </p>

                  <div class="social-icons">
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Facebook"
                      ><i class="icon-facebook-f"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Twitter"
                      ><i class="icon-twitter"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Instagram"
                      ><i class="icon-instagram"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Youtube"
                      ><i class="icon-youtube"></i
                    ></a>
                    <a
                      href="#"
                      class="social-icon"
                      target="_blank"
                      title="Pinterest"
                      ><i class="icon-pinterest"></i
                    ></a>
                  </div>
                  <!-- End .soial-icons -->
                </div>
                <!-- End .widget about-widget -->
              </div>
              <!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">Useful Links</h4>
                  <!-- End .widget-title -->

                  <ul class="widget-list">
                    <li><a href="about.html">About Molla</a></li>
                    <li><a href="#">How to shop on Molla</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                    <li><a href="login.html">Log in</a></li>
                  </ul>
                  <!-- End .widget-list -->
                </div>
                <!-- End .widget -->
              </div>
              <!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">Customer Service</h4>
                  <!-- End .widget-title -->

                  <ul class="widget-list">
                    <li><a href="#">Payment Methods</a></li>
                    <li><a href="#">Money-back guarantee!</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                  <!-- End .widget-list -->
                </div>
                <!-- End .widget -->
              </div>
              <!-- End .col-sm-6 col-lg-3 -->

              <div class="col-sm-6 col-lg-3">
                <div class="widget">
                  <h4 class="widget-title">My Account</h4>
                  <!-- End .widget-title -->

                  <ul class="widget-list">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="cart.html">View Cart</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Track My Order</a></li>
                    <li><a href="#">Help</a></li>
                  </ul>
                  <!-- End .widget-list -->
                </div>
                <!-- End .widget -->
              </div>
              <!-- End .col-sm-6 col-lg-3 -->
            </div>
            <!-- End .row -->
          </div>
          <!-- End .container -->
        </div>
        <!-- End .footer-middle -->

        <div class="footer-bottom">
          <div class="container">
            <p class="footer-copyright">
              Copyright © 2019 Molla Store. All Rights Reserved.
            </p>
            <!-- End .footer-copyright -->
            <figure class="footer-payments">
              <img
                src="assets/images/payments.png"
                alt="Payment methods"
                width="272"
                height="20"
              />
            </figure>
            <!-- End .footer-payments -->
          </div>
          <!-- End .container -->
        </div>
        <!-- End .footer-bottom -->
      </footer>
      <!-- End .footer -->
    </div>
    <!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top">
      <i class="icon-arrow-up"></i>
    </button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
      <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form
          action="#"
          method="get"
          class="mobile-search"
          style="font-weight: 900"
        >
          <label for="mobile-search" class="sr-only">Search</label>
          <input
            type="search"
            class="form-control"
            name="mobile-search"
            id="mobile-search"
            placeholder="Search in..."
            required
          />
          <button class="btn btn-primary" type="submit">
            <i class="icon-search"></i>
          </button>
        </form>

        <nav class="mobile-nav">
          <ul class="mobile-menu">
            <li class="active">
              <a href="index.html">Home</a>

              <ul>
                <li><a href="index-1.html">01 - furniture store</a></li>
                <li><a href="index-2.html">02 - furniture store</a></li>
                <li><a href="index-3.html">03 - electronic store</a></li>
                <li><a href="index-4.html">04 - electronic store</a></li>
                <li><a href="index-5.html">05 - fashion store</a></li>
                <li><a href="index-6.html">06 - fashion store</a></li>
                <li><a href="index-7.html">07 - fashion store</a></li>
                <li><a href="index-8.html">08 - fashion store</a></li>
                <li><a href="index-9.html">09 - fashion store</a></li>
                <li><a href="index-10.html">10 - shoes store</a></li>
                <li><a href="index-11.html">11 - furniture simple store</a></li>
                <li><a href="index-12.html">12 - fashion simple store</a></li>
                <li><a href="index-13.html">13 - market</a></li>
                <li><a href="index-14.html">14 - market fullwidth</a></li>
                <li><a href="index-15.html">15 - lookbook 1</a></li>
                <li><a href="index-16.html">16 - lookbook 2</a></li>
                <li><a href="index-17.html">17 - fashion store</a></li>
                <li>
                  <a href="index-18.html">18 - fashion store (with sidebar)</a>
                </li>
                <li><a href="index-19.html">19 - games store</a></li>
                <li><a href="index-20.html">20 - book store</a></li>
                <li><a href="index-21.html">21 - sport store</a></li>
                <li><a href="index-22.html">22 - tools store</a></li>
                <li>
                  <a href="index-23.html">23 - fashion left navigation store</a>
                </li>
                <li><a href="index-24.html">24 - extreme sport store</a></li>
              </ul>
            </li>
            <li>
              <a href="category.html">Shop</a>
              <ul>
                <li><a href="category-list.html">Shop List</a></li>
                <li><a href="category-2cols.html">Shop Grid 2 Columns</a></li>
                <li><a href="category.html">Shop Grid 3 Columns</a></li>
                <li><a href="category-4cols.html">Shop Grid 4 Columns</a></li>
                <li>
                  <a href="category-boxed.html"
                    ><span
                      >Shop Boxed No Sidebar<span class="tip tip-hot"
                        >Hot</span
                      ></span
                    ></a
                  >
                </li>
                <li>
                  <a href="category-fullwidth.html"
                    >Shop Fullwidth No Sidebar</a
                  >
                </li>
                <li>
                  <a href="product-category-boxed.html"
                    >Product Category Boxed</a
                  >
                </li>
                <li>
                  <a href="product-category-fullwidth.html"
                    ><span
                      >Product Category Fullwidth<span class="tip tip-new"
                        >New</span
                      ></span
                    ></a
                  >
                </li>
                <li><a href="cart.html">Cart</a></li>
                <li><a href="checkout.html">Checkout</a></li>
                <li><a href="wishlist.html">Wishlist</a></li>
                <li><a href="#">Lookbook</a></li>
              </ul>
            </li>
            <li>
              <a href="product.html" class="sf-with-ul">Product</a>
              <ul>
                <li><a href="product.html">Default</a></li>
                <li><a href="product-centered.html">Centered</a></li>
                <li>
                  <a href="product-extended.html"
                    ><span
                      >Extended Info<span class="tip tip-new">New</span></span
                    ></a
                  >
                </li>
                <li><a href="product-gallery.html">Gallery</a></li>
                <li><a href="product-sticky.html">Sticky Info</a></li>
                <li><a href="product-sidebar.html">Boxed With Sidebar</a></li>
                <li><a href="product-fullwidth.html">Full Width</a></li>
                <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Pages</a>
              <ul>
                <li>
                  <a href="about.html">About</a>

                  <ul>
                    <li><a href="about.html">About 01</a></li>
                    <li><a href="about-2.html">About 02</a></li>
                  </ul>
                </li>
                <li>
                  <a href="contact.html">Contact</a>

                  <ul>
                    <li><a href="contact.html">Contact 01</a></li>
                    <li><a href="contact-2.html">Contact 02</a></li>
                  </ul>
                </li>
                <li><a href="login.html">Login</a></li>
                <li><a href="faq.html">FAQs</a></li>
                <li><a href="404.html">Error 404</a></li>
                <li><a href="coming-soon.html">Coming Soon</a></li>
              </ul>
            </li>
            <li>
              <a href="blog.html">Blog</a>

              <ul>
                <li><a href="blog.html">Classic</a></li>
                <li><a href="blog-listing.html">Listing</a></li>
                <li>
                  <a href="#">Grid</a>
                  <ul>
                    <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                    <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                    <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                    <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Masonry</a>
                  <ul>
                    <li>
                      <a href="blog-masonry-2cols.html">Masonry 2 columns</a>
                    </li>
                    <li>
                      <a href="blog-masonry-3cols.html">Masonry 3 columns</a>
                    </li>
                    <li>
                      <a href="blog-masonry-4cols.html">Masonry 4 columns</a>
                    </li>
                    <li>
                      <a href="blog-masonry-sidebar.html">Masonry sidebar</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Mask</a>
                  <ul>
                    <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                    <li>
                      <a href="blog-mask-masonry.html">Blog mask masonry</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Single Post</a>
                  <ul>
                    <li><a href="single.html">Default with sidebar</a></li>
                    <li>
                      <a href="single-fullwidth.html">Fullwidth no sidebar</a>
                    </li>
                    <li>
                      <a href="single-fullwidth-sidebar.html"
                        >Fullwidth with sidebar</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="elements-list.html">Elements</a>
              <ul>
                <li><a href="elements-products.html">Products</a></li>
                <li><a href="elements-typography.html">Typography</a></li>
                <li><a href="elements-titles.html">Titles</a></li>
                <li><a href="elements-banners.html">Banners</a></li>
                <li>
                  <a href="elements-product-category.html">Product Category</a>
                </li>
                <li><a href="elements-video-banners.html">Video Banners</a></li>
                <li><a href="elements-buttons.html">Buttons</a></li>
                <li><a href="elements-accordions.html">Accordions</a></li>
                <li><a href="elements-tabs.html">Tabs</a></li>
                <li><a href="elements-testimonials.html">Testimonials</a></li>
                <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                <li><a href="elements-portfolio.html">Portfolio</a></li>
                <li><a href="elements-cta.html">Call to Action</a></li>
                <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- End .mobile-nav -->

        <div class="social-icons">
          <a href="#" class="social-icon" target="_blank" title="Facebook"
            ><i class="icon-facebook-f"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Twitter"
            ><i class="icon-twitter"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Instagram"
            ><i class="icon-instagram"></i
          ></a>
          <a href="#" class="social-icon" target="_blank" title="Youtube"
            ><i class="icon-youtube"></i
          ></a>
        </div>
        <!-- End .social-icons -->
      </div>
      <!-- End .mobile-menu-wrapper -->
    </div>
    <!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div
      class="modal fade"
      id="signin-modal"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true"><i class="icon-close"></i></span>
            </button>

            <div class="form-box">
              <div class="form-tab">
                <ul class="nav nav-pills nav-fill" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="signin-tab"
                      data-toggle="tab"
                      href="#signin"
                      role="tab"
                      aria-controls="signin"
                      aria-selected="true"
                      >Sign In</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="register-tab"
                      data-toggle="tab"
                      href="#register"
                      role="tab"
                      aria-controls="register"
                      aria-selected="false"
                      >Register</a
                    >
                  </li>
                </ul>
                <div class="tab-content" id="tab-content-5">
                  <div
                    class="tab-pane fade show active"
                    id="signin"
                    role="tabpanel"
                    aria-labelledby="signin-tab"
                  >
                    <form action="#">
                      <div class="form-group">
                        <label for="singin-email"
                          >Username or email address *</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="singin-email"
                          name="singin-email"
                          required
                        />
                      </div>
                      <!-- End .form-group -->

                      <div class="form-group">
                        <label for="singin-password">Password *</label>
                        <input
                          type="password"
                          class="form-control"
                          id="singin-password"
                          name="singin-password"
                          required
                        />
                      </div>
                      <!-- End .form-group -->

                      <div class="form-footer">
                        <button type="submit" class="btn btn-outline-primary-2">
                          <span>LOG IN</span>
                          <i class="icon-long-arrow-right"></i>
                        </button>

                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="signin-remember"
                          />
                          <label
                            class="custom-control-label"
                            for="signin-remember"
                            >Remember Me</label
                          >
                        </div>
                        <!-- End .custom-checkbox -->

                        <a href="#" class="forgot-link"
                          >Forgot Your Password?</a
                        >
                      </div>
                      <!-- End .form-footer -->
                    </form>
                    <div class="form-choice">
                      <p class="text-center">or sign in with</p>
                      <div class="row">
                        <div class="col-sm-6">
                          <a href="#" class="btn btn-login btn-g">
                            <i class="icon-google"></i>
                            Login With Google
                          </a>
                        </div>
                        <!-- End .col-6 -->
                        <div class="col-sm-6">
                          <a href="#" class="btn btn-login btn-f">
                            <i class="icon-facebook-f"></i>
                            Login With Facebook
                          </a>
                        </div>
                        <!-- End .col-6 -->
                      </div>
                      <!-- End .row -->
                    </div>
                    <!-- End .form-choice -->
                  </div>
                  <!-- .End .tab-pane -->
                  <div
                    class="tab-pane fade"
                    id="register"
                    role="tabpanel"
                    aria-labelledby="register-tab"
                  >
                    <form action="#">
                      <div class="form-group">
                        <label for="register-email">Your email address *</label>
                        <input
                          type="email"
                          class="form-control"
                          id="register-email"
                          name="register-email"
                          required
                        />
                      </div>
                      <!-- End .form-group -->

                      <div class="form-group">
                        <label for="register-password">Password *</label>
                        <input
                          type="password"
                          class="form-control"
                          id="register-password"
                          name="register-password"
                          required
                        />
                      </div>
                      <!-- End .form-group -->

                      <div class="form-footer">
                        <button type="submit" class="btn btn-outline-primary-2">
                          <span>SIGN UP</span>
                          <i class="icon-long-arrow-right"></i>
                        </button>

                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="register-policy"
                            required
                          />
                          <label
                            class="custom-control-label"
                            for="register-policy"
                            >I agree to the
                            <a href="#">privacy policy</a> *</label
                          >
                        </div>
                        <!-- End .custom-checkbox -->
                      </div>
                      <!-- End .form-footer -->
                    </form>
                    <div class="form-choice">
                      <p class="text-center">or sign in with</p>
                      <div class="row">
                        <div class="col-sm-6">
                          <a href="#" class="btn btn-login btn-g">
                            <i class="icon-google"></i>
                            Login With Google
                          </a>
                        </div>
                        <!-- End .col-6 -->
                        <div class="col-sm-6">
                          <a href="#" class="btn btn-login btn-f">
                            <i class="icon-facebook-f"></i>
                            Login With Facebook
                          </a>
                        </div>
                        <!-- End .col-6 -->
                      </div>
                      <!-- End .row -->
                    </div>
                    <!-- End .form-choice -->
                  </div>
                  <!-- .End .tab-pane -->
                </div>
                <!-- End .tab-content -->
              </div>
              <!-- End .form-tab -->
            </div>
            <!-- End .form-box -->
          </div>
          <!-- End .modal-body -->
        </div>
        <!-- End .modal-content -->
      </div>
      <!-- End .modal-dialog -->
    </div>
    <!-- End .modal -->

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wNumb.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/nouislider.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    

    <script>
      function applyFilters() {
        try {
          // Get selected categories, brands, and search query
          const selectedCategories = Array.from(document.querySelectorAll('.custom-control-input[data-category]:checked'))
            .map(checkbox => checkbox.dataset.category);
          const selectedBrands = Array.from(document.querySelectorAll('.custom-control-input[data-brand]:checked'))
            .map(checkbox => checkbox.dataset.brand);
          const searchQuery = document.getElementById('q').value.trim(); // Assuming the search input has an ID of 'q'
    
          // Construct the query string
          const queryString = `array1=${encodeURIComponent(selectedCategories.join(','))}&array2=${encodeURIComponent(selectedBrands.join(','))}&q=${encodeURIComponent(searchQuery)}`;
    
          // Construct the full URL with the query string
          const url = `/Allproducts?${queryString}`;
    
          // Save the selected filters and search query to localStorage
          localStorage.setItem('selectedCategories', JSON.stringify(selectedCategories));
          localStorage.setItem('selectedBrands', JSON.stringify(selectedBrands));
          localStorage.setItem('searchQuery', JSON.stringify(searchQuery));
    
          // Check if the current URL is already the filtered URL
          if (window.location.href !== url) {
            // Set the new URL only if it's different to avoid continuous reloading
            window.location.href = url;
          }
        } catch (error) {
          console.error(error);
        }
      }
      function clearSearch() {
    try {
      // Clear search input
      document.getElementById('q').value = '';

      // Clear localStorage
      localStorage.removeItem('searchQuery');
    } catch (error) {
      console.error(error);
    }
  }
    
      function clearFilters() {
        try {
          // Clear all checkboxes
          const checkboxes = document.querySelectorAll('.custom-control-input');
          checkboxes.forEach(checkbox => {
            checkbox.checked = false;
          });
    
          // Clear search input
          document.getElementById('q').value = '';
    
          // Clear localStorage
          localStorage.removeItem('selectedCategories');
          localStorage.removeItem('selectedBrands');
          localStorage.removeItem('searchQuery');
    
          // Apply filters (this will reload the page without filters)
          applyFilters();
        } catch (error) {
          console.error(error);
        }
      }
    
      // Load saved filters from localStorage on page load
      document.addEventListener('DOMContentLoaded', function () {
        const savedCategories = JSON.parse(localStorage.getItem('selectedCategories')) || [];
        const savedBrands = JSON.parse(localStorage.getItem('selectedBrands')) || [];
        const savedSearchQuery = JSON.parse(localStorage.getItem('searchQuery')) || '';
    
        savedCategories.forEach(category => {
          const checkbox = document.querySelector(`.custom-control-input[data-category="${category}"]`);
          if (checkbox) {
            checkbox.checked = true;
          }
        });
    
        savedBrands.forEach(brand => {
          const checkbox = document.querySelector(`.custom-control-input[data-brand="${brand}"]`);
          if (checkbox) {
            checkbox.checked = true;
          }
        });
    
        document.getElementById('q').value = savedSearchQuery; // Assuming the search input has an ID of 'q'
      });
    
      const applyFiltersButton = document.getElementById('applyFiltersButton');
      applyFiltersButton.addEventListener('click', applyFilters);
    
      const clearFiltersButton = document.getElementById('clearFiltersButton');
      clearFiltersButton.addEventListener('click', clearFilters);
    </script>
      

    


<script>
  function showAlertBox() {
          console.log("alert fun called...");
          $("#cartAlert").fadeIn();
      
          // Hide the alert box after 5 seconds
          setTimeout(function () {
              $("#cartAlert").fadeOut();
          }, 3000);
      }
  
      function showAlertBoxAlready() {
          console.log("alert fun called...");
          $("#cartAlertAlready").fadeIn();
      
          // Hide the alert box after 5 seconds
          setTimeout(function () {
              $("#cartAlertAlready").fadeOut();
          }, 3000);
      }
  
  
  
          function addtocart(productId){
      console.log(productId);
      $.ajax({
              type: "POST",
              url: "/addToCart",
              data: { id: productId},
              success: function(response) {
                  console.log("Response from server:", response);
                  
              if (response.cart === 1) {
                  showAlertBox();
              } else if (response.cart === 2) {
                  showAlertBoxAlready();
              }
                  // Handle the response from the server here (e.g., update the UI)
              },
              error: function(error) {
                  console.error("Error:", error);
                  // Handle errors here
              }
          });
  }
  
  
      </script>

  </body>
</html>
