<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>


#progressbar-1 {
color: #455A64;
}

#progressbar-1 li {
list-style-type: none;
font-size: 13px;
width: 33.33%;
float: left;
position: relative;
}

#progressbar-1 #step1:before {
content: "1";
color: #fff;
width: 29px;
margin-left: 22px;
padding-left: 11px;
}

#progressbar-1 #step2:before {
content: "2";
color: #fff;
width: 29px;
}

#progressbar-1 #step3:before {
content: "3";
color: #fff;
width: 29px;
margin-right: 22px;
text-align: center;
}

#progressbar-1 li:before {
line-height: 29px;
display: block;
font-size: 12px;
background: #455A64;
border-radius: 50%;
margin: auto;
}

#progressbar-1 li:after {
content: '';
width: 121%;
height: 2px;
background: #455A64;
position: absolute;
left: 0%;
right: 0%;
top: 15px;
z-index: -1;
}

#progressbar-1 li:nth-child(2):after {
left: 50%
}

#progressbar-1 li:nth-child(1):after {
left: 25%;
width: 121%
}

#progressbar-1 li:nth-child(3):after {
left: 25%;
width: 50%;
}

#progressbar-1 li.active:before,
#progressbar-1 li.active:after {
background: #1266f1;
}

.card-stepper {
z-index: 0
}
</style>
</head>
<body style="background-color: rgb(233, 233, 233);">
   <div style="display: flex;justify-content: space-between;margin: 10px;">
    <h1 style="margin-left: 45%;">ORDERS</h1>
    <a href="/userProfile"><button  class="btn btn-success">Go Back</button></a>
   </div>
    <section class="vh-100 gradient-custom-2">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
 

            <% for (let i = 0; i < orderData.length; i++) { %>
              <% const order = orderData[i]; %>
              <% for (let j = 0; j < order.products.length; j++) { %>
                <% const product = order.products[j]; %>
                <div class="col-md-10 col-lg-4 col-xl-9" style="margin-bottom: 20px;">
                  <div class="card card-stepper" style="border-radius: 16px;">
                    <div class="card-body p-4">
                      <div class="d-flex flex-row mb-4 pb-2">
                        <div class="flex-fill">
                          <h5 class="bold"><%= product.productId.name %></h5>
                          <p class="text-muted">Qt: <%= product.quantity %> item</p>
                          <h4 class="mb-3">RS. <%= product.productId.price %> <span class="small text-muted"> via (<%= order.paymentMethod %>) </span></h4>
                          <p class="text-muted">Tracking Status: <span class="text-body"><%= product.OrderStatus %></span></p>
                        </div>
                        <div>
                          <img class="align-self-center img-fluid" src="/userImages/<%= product.productId.image[0] %>" width="150">
                        </div>
                      </div>
                      <ul id="progressbar-1" class="mx-0 mt-0 mb-5 px-0 pt-0 pb-4">
                        <li class="step0 active" id="step1"><span style="margin-left: 22px; margin-top: 12px;">PLACED</span></li>
                        <li class="step0 text-center" id="step2"><span>SHIPPED</span></li>
                        <li class="step0 text-muted text-end" id="step3"><span style="margin-right: 22px;">DELIVERED</span></li>
                      </ul>
                    </div>
                    <div class="card-footer p-4">
                      <div class="d-flex justify-content-between">
                        <h5 class="fw-normal mb-0"><a href="#!" style="text-decoration: none;">Track</a></h5>
                        <div class="border-start h-100"></div>
                        <button id="postButton" data-product-id="<%= product._id %>" data-order-data="<%=orderData[i]._id%>" style="text-decoration: none; color: red; background: none; border: none; cursor: pointer;" onclick="handleButtonClick(this)">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
            <% } %>f
            
          </div>
        </div>
      </section>

      <script>
       
       function handleButtonClick(button) {
    const OrderProdID = button.getAttribute('data-product-id');
    const OrderID = button.getAttribute('data-order-data');
    // const orderData = JSON.parse(OrderID);
  const data = {
    orderProdID: OrderProdID,
    OrderID:OrderID,
    
  };

  fetch('/cancelOrder', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      // You may need to include additional headers such as authentication tokens.
    },
    body: JSON.stringify(data),
  })
    .then((response) => response.json())
    .then((data) => {
      location.reload();
    })
    .catch((error) => {
      console.log(error.message);
    });
};
      </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>