<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SmartBuy</title>
  <meta name="keywords" content="HTML5 Template">
  <meta name="description" content="Molla - Bootstrap eCommerce Template">
  <meta name="author" content="p-themes">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
  <link rel="manifest" href="assets/images/icons/site.html">
  <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
  <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Molla">
  <meta name="application-name" content="Molla">
  <meta name="msapplication-TileColor" content="#cc9966">
  <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery.countdown.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style2.css">
    <link rel="stylesheet" href="assets/css/skins/skin-demo-24.css">
    <link rel="stylesheet" href="assets/css/demos/demo-24.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link rel="stylesheet" href="sweetalert2.min.css">
  <!-- Plugins CSS File -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- Main CSS File -->
  <link rel="stylesheet" href="assets/css/style.css">
  <style>.swal2-modal {
    width: 80% !important; /* Adjust the width as needed */
    max-width: 800px; /* Set a maximum width if desired */
  }
  .swal2-content{
    width: 500px;
  }
  .swal2-textarea{
    height: 120px;
    font-size: large;
    color: #000000;
  }
  .swal2-popup {
    font-size: 16px; /* Adjust the font size if needed */
  }</style>
<style>


#progressbar-1 {
color: #455A64;
}

#progressbar-1 li {
list-style-type: none;
font-size: 13px;
width: 33.33%;
float: left;
position: relative;
}

#progressbar-1 #step1:before {
content: "1";
color: #fff;
width: 29px;
margin-left: 50px;
padding-left: 11px;
}

#progressbar-1 #step2:before {
content: "2";
color: #fff;
width: 29px;
}

#progressbar-1 #step3:before {
content: "3";
color: #fff;
width: 29px;
margin-right: 50px;
text-align: center;
}

#progressbar-1 li:before {
line-height: 35px;
display: block;
font-size: 12px;
background: #455A64;
border-radius: 50%;
margin: auto;
}

#progressbar-1 li:after {
content: '';
width: 121%;
height: 8px;
background: #455A64;
position: absolute;
left: 0%;
right: 0%;
top: 15px;
z-index: -1;
}

#progressbar-1 li:nth-child(2):after {
left: 50%

}

#progressbar-1 li:nth-child(1):after {
left: 25%;
width: 121%
}

#progressbar-1 li:nth-child(3):after {
left: 25%;
width: 50%;
}

#progressbar-1 li.active:before,
#progressbar-1 li.active:after {
background: #1266f1;
}

#progressbar-1 li.red1:after,
#progressbar-1 li.red1:before {
background: #f11212;
}



.card-stepper {
z-index: 0
}
</style>
</head>
<body style="background-color: rgb(255, 255, 255);">
  <header class="header" style="background-color: #000000;">
    

    <div class="header-middle sticky-header">
<!-- <a href="index.html"  style="font-size: 11px;font-weight: 200;color: white;">
  Powered By
</a> -->
        <div class="header-left">
              <button class="mobile-menu-toggler">
                  <span class="sr-only">Toggle mobile menu</span>
                  <i class="icon-bars"></i>
              </button>

            <a href="index.html"  style="font-size: 30PX;font-weight: 500;color: white;">SmartBuy</a>
        </div><!-- End .header-left -->

        <div  style="margin-left: 0%;" class="header-center">
          <nav class="main-nav">
                <ul class="menu sf-arrows">
                    <li class="megamenu-container active">
                        <a href="/" class="sf-with-ul">Home</a>
                    </li>
                    <li>
                        <a href="/Allproducts" class="sf-with-ul">Shop</a>
                    </li>
                    <li>
                        <a href="/" class="sf-with-ul">Product</a>	                                
                    </li>
                    <li>
                        <a href="/" class="sf-with-ul">Pages</a>
                    </li>
                    <li>
                        <a href="/" class="sf-with-ul">Blog</a>	                                
                    </li>
                    
                </ul><!-- End .menu -->
            </nav><!-- End .main-nav -->
        </div>

        <div class="header-right">
            <div class="header-search">
                <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                <form action="#" method="get">
                    <div class="header-search-wrapper">
                        <label for="q" class="sr-only">Search</label>
                        <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                    </div><!-- End .header-search-wrapper -->
                </form>
            </div><!-- End .header-search -->
            <div class="wishlist">
                <a href="/wishlist" title="Wishlist">
                    <i class="icon-heart-o"></i>
                    <!-- <span class="wishlist-count">3</span> -->
                </a>
            </div><!-- End .compare-dropdown -->

            <div class="dropdown cart-dropdown">
                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                    <a href="/userCart"><i class="icon-shopping-cart"></i></a>
                    <!-- <span class="cart-count">2</span> -->
                </a>

                <!-- End .dropdown-menu -->
            </div><!-- End .cart-dropdown -->
        </div><!-- End .header-right -->
    </div><!-- End .header-middle -->
</header>

  <div class="page-header text-center" style="background: #ffffff;display: flex;height: 120px;align-items: center;width: 100%;">
    <div style="width: 100%;">
      <div class="page-header text-center" style="background: #000000;display: flex;height: 100px;align-items: center;">
        <div class="container">
          <h1 class="page-title" style="color: rgb(255, 255, 255);padding-top: 20px;">Orders</h1>
        </div>
        <!-- End .container -->
      </div>
      <div class=" d-flex col-lg-12 justify-content-center" style="padding-top: 5px;">
        <div class="d-flex" >
          <!-- <a class="btn btn-outline-light" href="orderFiltering?result=all">All</a> -->
          <a class="btn btn-outline-darker" href="orderFiltering?result=placed">Placed</a>
          <a class="btn btn-outline-darker" href="orderFiltering?result=Shipped">Shipped</a>
          <a class="btn btn-outline-darker" href="orderFiltering?result=Delivered">Delivered</a>
          <a class="btn btn-outline-darker" href="orderFiltering?result=Canceled">Canceled</a>
        </div>
      </div>
    </div>
    
    <!-- End .container -->
  </div>
    <section class=" gradient-custom-2">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-50">
 

            <% for (let i = 0; i < orderData.length; i++) { %>
              <% const order = orderData[i]; %>
              <% for (let j = 0; j < order.products.length; j++) { %>
                <% const product = order.products[j]; %>
                <div class="col-md-10 col-lg-12 col-xl-9" style="margin-bottom: 20px;">
                  <div class="card card-stepper" style="border-radius: 16px;background-color: #ffffff;border:solid #bbbaba;">
                    <div class="card-body p-4" style="height:fit-content;">
                      <div class="d-flex flex-row pb-1">
                        <div class="flex-fill">
                          <h3 style="font-weight: 700;"  class="bold"><%= product.productId.name %></h3>
                          <p  class="text-muted">Qt: <%= product.quantity %> item</p>
                          <h4  class="mb-3">₹ <%= product.productId.price %> <span class="small text-muted"> via (<%= order.paymentMethod %>) </span></h4>
                          <!-- <p  style="font-weight: 600;border: 2px solid;margin-right: 78%;padding: 2%;border-radius: 8px;background-color: #2c2a2a;" class="text-muted">Status : <span class="text-body"><%= product.OrderStatus %></span></p> -->
                        </div>
                        <div style="background-color: #e6e6e6;padding: 10px;border-radius: 10px;">
                          <img style="border-radius: 8px;width:100px;height:100px;" class="align-self-center img-fluid" src="/crop/<%= product.productId.image1 %>" width="150">

                        </div>
                      </div>
                      <ul id="progressbar-1" class="mx-0 mt-0 mb-5 px-0 pt-0 pb-4">
                        <li class="step<%= product.OrderStatus === 'placed' || product.OrderStatus === 'Shipped' || product.OrderStatus === 'Delivered'|| product.OrderStatus === 'Canceled'|| product.OrderStatus === 'Return' ? ' active' : '' %>" id="step1">
                            <span style="margin-left: 50px; margin-top: 12px;">Placed</span>
                        </li>
                        <li class="step<%= product.OrderStatus === 'Shipped' || product.OrderStatus === 'Delivered'|| product.OrderStatus === 'Canceled'|| product.OrderStatus === 'Return' ? ' active' : '' %> text-center" id="step2">
                            <span>Shipped</span>
                        </li>
                        

                        <% if (product.OrderStatus === 'Canceled') { %>
                          <li class="step red1 text-muted text-end" id="step3">
                              <span style="margin-left:50%;">
                                  Canceled
                              </span>
                          </li>
                      <% } else if (product.OrderStatus === 'Delivered') { %>
                          <li class="step active text-muted text-end" id="step3">
                              <span style="margin-left:50%;">
                                  Delivered
                              </span>
                          </li>
                          <% } else if (product.OrderStatus === 'Return') { %>
                            <li class="step red1 text-muted text-end" id="step3">
                                <span style="margin-left:50%;">
                                    Returning
                                </span>
                            </li>
                      <% }else{ %>
                        <li class="step  text-muted text-end" id="step3">
                            <span style="margin-left:50%;">
                                Delivered
                            </span>
                        </li>
                    <% } %>


                        
                        
                    </ul>
                    </div>
                    <div class="card-footer p-4" style="background-color: rgb(0, 0, 0);border-radius:0px 0px 14px 14px;">
                      <div class="d-flex justify-content-between">
                        <p class="fw-normal mb-0" style="color: #fff;">Customer Service: (+91) 7994586558</p>
                        <div class="border-start h-100"></div>

                        <% if(product.OrderStatus === 'Delivered') {%>
                        <button id="submitReturnReason" data-product-id="<%= product._id %>" data-order-data="<%=orderData[i]._id%>" data-prod-id="<%= product.productId._id %>" style="text-decoration: none;font-weight: 600; color: red; background: none; border: none; cursor: pointer;" onclick="handleButtonClic(this)">RETURN</button>
                        <% }else if(product.OrderStatus === 'Return') {%>
                          <button id="postButton" data-product-id="<%= product._id %>" data-order-data="<%=orderData[i]._id%>" data-prod-id="<%= product.productId._id %>" style="text-decoration: none;font-weight: 600; color: red; background: none; border: none; cursor: pointer;" onclick="handleButtonClick(this)">RETURN VERIFYING</button>
                        <% }else if(product.OrderStatus === 'Canceled'){ %>
                        <button id="postButton" data-product-id="<%= product._id %>" data-order-data="<%=orderData[i]._id%>" data-prod-id="<%= product.productId._id %>" style="text-decoration: none;font-weight: 600; color: red; background: none; border: none; cursor: pointer;" onclick="handleButtonClick(this)">REFUND PROCESSING</button>
                          <% }else{ %>
                            <button id="submitCancelReason" data-product-id="<%= product._id %>" data-order-data="<%=orderData[i]._id%>" data-prod-id="<%= product.productId._id %>" style="text-decoration: none;font-weight: 600; color: red; background: none; border: none; cursor: pointer;" onclick="handleButtonClick(this)">CANCEL ORDER</button>
                            <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
            <% } %>
            
          </div>
        </div>
      </section>
      <footer class="footer mt-3">
        
  
        <div class="footer-middle">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-12">
                    <div class="widget widget-about">
                          <h1 style="color: rgb(0, 0, 0);">SmartBuy</h1>
                            <!-- <img src="assets/images/demos/demo-24/logo.png" class="footer-logo" alt="Footer Logo" width="110" height="25"> -->
                        <p>this e comerce aim to provide Qualitya and Fast Delivery of the customers dream and assuring the fast resolving the issues</p>
                        
                        <div class="social-icons">
                                <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                                <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-12 col-lg-3 -->

                <div class="col-lg-3 col-sm-4 col-md-4">
                    <div class="widget">
                        <h4 class="widget-title">useful links</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="about.html">About Molla</a></li>
                            <li><a href="#">How to shop on Molla</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                            <li><a href="login.html">Log in</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-lg-3 col-sm-4 col-md-4">
                    <div class="widget">
                        <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Money-back guarantee!</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Terms and conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-lg-3 col-sm-4 col-md-4">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="cart.html">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-64 col-lg-3 -->
            </div>
          </div>
  </div>
  <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © SmartBuy. All Rights Reserved.</p><!-- End .footer-copyright -->

                    <figure class="footer-payments">
                        <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                 
                </div><!-- End .widget-about-info -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->

</footer>
<script src="sweetalert2.all.min.js"></script>
<!-- <script>
  //modal for cancel and returning reson
  async function showSweetAlert() {
  const { value: text } = await Swal.fire({
    input: 'textarea',
    inputLabel: 'Reason for return',
    inputPlaceholder: 'Type your message here...',
    inputAttributes: {
      'aria-label': 'Type your message here'
    },
    showCancelButton: true
  });

  if (text) {
    Swal.fire(text);
  }
}

// Find your button element by its ID
const yourButton1 = document.getElementById('submitReturnReason'); // Replace 'yourButtonId' with the actual ID of your button

// Add a click event listener to the button
yourButton1.addEventListener('click', () => {
  showSweetAlert(); // Call the function when the button is clicked
});
</script>
<script>
  //modal for cancel and returning reson
  async function showSweetAlert() {
  const { value: text } = await Swal.fire({
    input: 'textarea',
    inputLabel: 'Reason for cancel',
    inputPlaceholder: 'Type your message here...',
    inputAttributes: {
      'aria-label': 'Type your message here'
    },
    showCancelButton: true
  });

  if (text) {
    Swal.fire(text);
  }
}

// Find your button element by its ID
const yourButton2 = document.getElementById('submitCancelReason'); // Replace 'yourButtonId' with the actual ID of your button

// Add a click event listener to the button
yourButton2.addEventListener('click', () => {
  showSweetAlert(); // Call the function when the button is clicked
});
</script> -->
<script>

 async function handleButtonClic(button) {
const OrderProdID = button.getAttribute('data-product-id');
const OrderID = button.getAttribute('data-order-data');
const prodID = button.getAttribute('data-prod-id');

const { value: text } = await Swal.fire({
    input: 'textarea',
    inputLabel: 'Reason for return',
    inputPlaceholder: 'Type your message here...',
    inputAttributes: {
      'aria-label': 'Type your message here'
    },
    showCancelButton: true
  });



  if (text) {
    const data = {
      orderProdID: OrderProdID,
      OrderID: OrderID,
      prodID: prodID,
      reason: text // Add the reason to the data being sent
    };

fetch('/returnOrder', {
method: 'POST',
headers: {
 'Content-Type': 'application/json',

},
body: JSON.stringify(data),
})
.then((response) => response.json())
.then((data) => {
 location.reload();
})
.catch((error) => {
 console.log(error.message);
});
};
}
</script>
<script>

    async   function handleButtonClick(button) {
    const OrderProdID = button.getAttribute('data-product-id');
    const OrderID = button.getAttribute('data-order-data');
    const prodID = button.getAttribute('data-prod-id');


    const { value: text } = await Swal.fire({
    input: 'textarea',
    inputLabel: 'Reason for cancel',
    inputPlaceholder: 'Type your message here...',
    inputAttributes: {
      'aria-label': 'Type your message here'
    },
    showCancelButton: true
  });

  if (text) {
    const data = {
      orderProdID: OrderProdID,
      OrderID: OrderID,
      prodID: prodID,
      reason: text // Add the reason to the data being sent
    };

  fetch('/cancelOrder', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      // You may need to include additional headers such as authentication tokens.
    },
    body: JSON.stringify(data),
  })
    .then((response) => response.json())
    .then((data) => {
      location.reload();
    })
    .catch((error) => {
      console.log(error.message);
    });
};
}
</script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>